<ul id="loginOptions">
  <li><%= link_to "Login", login_path %></li>
  <li><%= link_to "Signup", signup_path %></li>
  <li><a href="#">Connect with <i class="fa fa-facebook-official"></i></a></li>
</ul>
