<a href="#" data-options="align:bottom;is_hover:true;" data-dropdown="loginOptions" class="button">Track My Score! &raquo;</a>
<ul id="loginOptions" class="f-dropdown" data-dropdown-content>
  <li><%= link_to "Existing User Log in", login_path %></li>
  <li><%= link_to "Sign Me Up!", signup_path %></li>
  <li><a href="#">Connect with <i class="fa fa-facebook-official"></i></a></li>
</ul>