<div class="row">
	<%#= @current_user %>
	<%#= @user %>
	<%= @user.name %><br>
	Percent Correct: <%= (100*@user.percent_correct).round(3) %>%<br>
	Current Streak: <%= @user.current_streak %><br>
</div>

<div class="row">
	<%= link_to "Edit Account", edit_user_path(@user), class: "button" %>
</div>