<div class="row issues">
	<div class="small-12 columns">
	<ul>
		<% @issues.each do |i| %>
			<li>
				<%= link_to issue_info_path(i.id) do %>
					<%= i.title %>
					<!-- check if issue has been explored
					and add checkmark and what color -->
				<% end %>
			</li>
		<% end %>
	</ul>
	</div>
</div>

<%= render partial: 'partials/bottom_nav' %>