<div class="row issues">
	<div class="small-12 columns">
	<ul>
		<% @issues.each do |i| %>
			<li>
				<%= link_to issue_info_path(i.id) do %>
					<%= i.title %>
				<% end %>
			</li>
		<% end %>
	</ul>
	</div>
</div>

<div class="row">
	<div class="small-2 small-offset-11 columns">
	<%= link_to game_path do %>
	  <i class="fa fa-comments button round fa-4x small"></i>
	<% end %>
	<% if logged_in? %>
		<%= link_to manageLikedQuotes_path do %>
		  <i class="fa fa-star button round fa-4x small"></i>
		<% end %>
	<% end %>
	</div>
</div>