<div class="row">
	<div class="small-12 columns">
	<%= link_to game_path do %>
	  <i class="fa fa-comments button round fa-4x small"></i>
	<% end %>
	<%= link_to manageLikedQuotes_path do %>
	  <i class="fa fa-star button round fa-4x small"></i>
	<% end %>
	</div>
</div>