<div class="row issueContent">
	<div class="small-9 columns">
		<%= render partial: 'issueDetails/'+@issue.title.delete('&').split.join("_").downcase %>
	</div>
	<div class="small-3 columns" style="position: fixed; margin-left: 65%;">
		<h5 align="center">Some Quotes By Candidates</h5>
		<div class="quotes">
		<% @quotes.each do |q| %>
			<div class='quote'>
				<!-- ideally want to do this as json? -->
				<div class="quote_body">"<%= q.body_of_text %>"</div>
				<% if logged_in? %>
					<%= link_to likeQuote_path(quote: q, issue_id: @issue.id) do %>
						<div align="right" style="color: white">Like <i class="fa fa-star"></i></div>
					<% end %>
				<% else %>
					<div align="right" style="color: #cfcfcf;">Like <i class="fa fa-star"></i></div>
				<% end %>
			</div>	
		<% end %>
		</div>
	</div>
</div>

<%= render partial: 'partials/bottom_nav' %>