<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
      <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
   </head>
   <body>

      <h1 class="teal">When is it ethical to not continue a pregnancy? What laws and support systems should be in place surrounding reproductive health? </h1><br>

      <hr><br>

      <p>Abortion is one of those subjects that can be polarizing. But we&rsquo;ll do our best to spell it out for you in the most comprehensive, unbiased way possible. </p>
      <p>Abortion is defined as a medical procedure resulting in the termination of a human pregnancy.</p>
      <p>Abortion is a chunk of an iceberg of the reproductive rights movement, which is part of the seas of feminism, the medical field and human rights in general.</p><br>

      <hr><br>

      <h2 class="teal">Some quick facts about abortion:</h2><br>

      <ul>
         <li>The first abortion was performed in 1550 BCE. It was recorded on Egyptian papyrus.</li>
         <li>There are two ways one can receive an abortion: through surgery and through taking a pill.</li>
         <li>Roe vs. Wade was a Supreme Court decision that legalized abortions in the U.S. in 1973. Since then, other amendments and efforts from anti-abortion movements have restricted access to safe, legal abortions in many areas of America. </li>
         <li>Nowadays, every state is legally required to offer abortions as a service, but each state has different laws about how far along in the pregnancy someone can be in order to have an abortion.</li>
      </ul><br>

            <p><a href="http://www.guttmacher.org/graphics/infographics/900-USWomenWhoHaveAbortions.png"><img alt="big daddy" src="http://www.guttmacher.org/graphics/infographics/900-USWomenWhoHaveAbortions.png"></a></p><br>
      <br>

      <hr><br>

      <h2 class="teal"><a></a>What do people think?</h2><br>

      <p class="teal">Feminists, gender equalists, humanists and other pro-choicers have the following arguments that abortion should remain legal, safe and accessible:</p>

      <ul>
         <li>If someone has no interest in raising a child, or can&rsquo;t afford to, isn&rsquo;t prepared to, or for related reasons does not want to keep the child, if they are forced to keep the child the child could end up living a sub-optimal quality of life.</li>
         <li>Women have the right to privacy and what to do with their own bodies. The government should not be able to regulate uteruses. </li>
         <li>According to fatality statistics, it is safer to have an abortion than to carry out a pregnancy.</li>
         <li>People have had abortions for millennia. If abortion becomes illegal again or more inaccessible than it already is, people will still have abortions, but in unsafe ways. Some of these unsafe ways include sticking coat hangers into one&rsquo;s uterus, douching with harmful chemicals, or swallowing poison.</li>
      </ul><br><br>

      <p class="teal">On the other hand, pro-life parties have other things to say:</p>

      <ul>
         <li>Religious pro-lifers will argue that every human life has value, even if it has not been born yet, and that we were all created in God&rsquo;s or some other holy deity&#39;s image and we should not tamper with these deities&rsquo; plans.</li>
         <li>Women do not have the right to murder their unborn children.</li>
         <li>If someone did not want to have a child, they should have thought of that before they had sex or did not protect themselves. </li>
         <li>Or better yet, they should not have been having sex at all. #abstinence</li>
      </ul><br><br>

      <p class="teal">Others have views that are more in between.</p>

      <ul>
         <li>Many advocate that abortion should be provided in situations of rape, incest, or when having the baby could pose serious health risks for the mother or baby, but not under any other circumstances.</li>
         <li>Others advocate that abortion should not be used as a form of birth control, but that we should provide easier and more affordable access to birth control methods and sex education in order to prevent the need for many abortions.</li>
      </ul><br><br>

      <hr><br>

      <h2 class="teal">What does this mean to me?</h2><br>

      <p>Many people have strong opinions about abortion and other reproductive rights subjects, but just in case you haven&rsquo;t established your own yet, ask yourself the following questions.</p>
      <ul>

         <li>Do I currently engage in sexual activity that would possibly result in myself or another person getting pregnant?&nbsp;If so, do I want to have children? Do I want the power to decide if I want children or not? Am I protecting myself and my partner while we engage in these activities? Do I have adequate resources to protect myself or my partner from getting pregnant unexpectedly?</li>
         <li>Is it my right to decide how other people live their sexual and reproductive lives?&nbsp;</li>
         <li>At what point should a fetus / baby be considered to have the right to life?</li>
         <li>Is it okay to be pro-life and still be accepting of the fact that a mother may not have the resources, right support for her offspring&rsquo;s upbringing, and that they may lead to an additional cost on the society?</li>
         <li>Do I know anyone who has had an abortion before?&nbsp;If so, what was their experience like? How were they treated before, during and after the procedure was done?</li>
         <li>If any abortion laws were reverted to what they were before Roe v. Wade, what affect would that have?&nbsp;Would people simply stop having abortions? Or would people continue to have abortions, but in highly unsafe and painful ways?</li>
         <li>Should someone who has been a victim of sexual assault or rape and had no intentions of having a child due to a rape, be forced into conceiving? Can there be exceptions to the legislation that defines abortion law?</li>
         <li>What does abortion mean for maternal mortality rates?&nbsp;Should the blame be put on lacking medical care systems or the process of abortion?</li>
      </ul><br>

      <hr><br>

      <h2 class="teal">More Food for Thought</h2><br>

      <!-- Pinterest plugin -->
        <a data-pin-do="embedBoard" data-pin-board-width="900" data-pin-scale-height="700" data-pin-scale-width="115" href="https://www.pinterest.com/informare/abortion/"></a><br>

      <hr><br>

      <h2 class="teal">Timeline</h2><br>

      <ul>
         <li><a href="https://www.google.com/url?q=http://www.chicagotribune.com/sns-abortion-timeline-story.html&amp;sa=D&amp;usg=AFQjCNEa0atDNcHZRbxacaLe2hjgRLUslg">Chicago Tribune - Abortion Timeline Story</a>&nbsp;</li>
      </ul><br>

      <hr><br>

      <h2 class="teal">Sources</h2><br>

      <ul>
         <li><a href="https://www.google.com/url?q=http://www.ourbodiesourselves.org/health-info/u-s-abortion-history/&amp;sa=D&amp;usg=AFQjCNG6vCYppOK-SEpo38U5EjzOsavb0A">Our Bodies Ourselves - Abortion History</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://www.feminist.com/resources/ourbodies/abortion.html&amp;sa=D&amp;usg=AFQjCNH62KM2UZZ5kb7uYo2CK7uyH1wKLg">Feminist - Abortion</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://prochoice.org/education-and-advocacy/about-abortion/history-of-abortion/&amp;sa=D&amp;usg=AFQjCNGcglMsthO3W8fkm_Qc0-iySLrXCA">Prochoice - History of Abortion</a></li>
         <li><a href="https://www.google.com/url?q=http://www.isidewith.com/elections/2016-presidential-quiz&amp;sa=D&amp;usg=AFQjCNEROUngC81XoL5qSyWhmtfguy4cWQ">I Side With - Presidential Quiz</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://womenshistory.about.com/od/abortionuslegal/a/abortion.htm&amp;sa=D&amp;usg=AFQjCNENDSag93QQyox7lEdtivmcPjUX6g">About.com - Women&#39;s History - Abortion</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Abortion&amp;sa=D&amp;usg=AFQjCNFX89odWhDD3ZqhklwrsUadRlJDxA">Wikipedia - Abortion</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://www.youtube.com/watch?v%3DGKd9zWjxr6k&amp;sa=D&amp;usg=AFQjCNGqTy9HGyUieTwxBIu1I8tu_bgx_A">Youtube - Video 1</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://www.youtube.com/watch?v%3DylD7ajPflqo&amp;sa=D&amp;usg=AFQjCNFTsgd6JQmqqJmoRJPrVFRpeWhl7w">Youtube - Video 2</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://www.youtube.com/watch?v%3D4H50KC3C0ok&amp;sa=D&amp;usg=AFQjCNE6RrMcRkfxwuwHuAKgRTsDW_0rpQ">Youtube - Video 3</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://abortion.procon.org/&amp;sa=D&amp;usg=AFQjCNHXH4-_5fgLdEcomtZjLucuANUlLg">Pro Con Org - Abortion</a></li>
      </ul><br>

   </body>
</html>