<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>

      <h1 class="teal">Budget &amp; Economy</h1><br>
      <hr>
      <h2 class="teal">Why is the discussion on Budgets and our Economy so critical for the 2016 elections?</h2><br>

      <p>Let&rsquo;s put it this way: for any individual, spending more than their income causes them to go in debt. That is neither beneficial nor sustainable. The more debt an individual has, the more they owe someone else. Add to that the fact that being in debt for long, and an increasing debt year after year can put the individual in a position where they are at a point of no return, and cannot foresee paying off all the money they owe others based off their financial growth. That person I started off by talking to you about is in fact our nation, the United Stated of America. We have been borrowing money from other countries, and have consistently been setting budgets that are designed to spend more than we earn. It is clearly a bad situation, and it is critical that we as the people of the most powerful nation in the world elect a leader to can fix the problem, before we lose the title of being &ldquo;the most powerful and respected.&rdquo;</p><br>
      
      <hr>
      <h2 class="teal">How does the United States Government budgeting process work?</h2><br>
      
      <p>The budget of the United States government often begins as the President&#39;s proposal to the U.S. Congress which recommends funding levels for the next fiscal year, beginning October 1 and ending on September 30 of the following year. The fiscal year is named for the year in which it ends. However, Congress is the body required by law to pass appropriations annually and to submit funding bills passed by both houses to the President for signature. Congressional decisions are governed by rules and legislation regarding the federal budget process. Budget committees set spending limits for the House and Senate committees and for Appropriations subcommittees, which then approve individual appropriations bills to allocate funding to various federal programs.</p>

      <p>If Congress fails to pass an annual budget, a series of Appropriations bills must be passed as &quot;stop gap&quot; measures. After Congress approves an appropriations bill, it is sent to the President, who may sign it into law, or may veto it (as he would a budget when passed by the Congress). A vetoed bill is sent back to Congress, which can pass it into law with a two-thirds majority in each chamber. In addition, the president may request and the Congress may pass supplemental appropriations bills or emergency supplemental appropriations bills.</p>

      <p>Several government agencies provide budget data and analysis. These include the Government Accountability Office (GAO), Congressional Budget Office, the Office of Management and Budget (OMB) and the U.S. Treasury Department. These agencies have reported that the federal government is facing a series of important long-run financing challenges, primarily driven by an aging population and spending for healthcare programs such as Medicare and Medicaid. In the short-term, the annual deficit returned to its historical average relative to the size of the economy in fiscal year 2014 (around 3% GDP) and is projected to remain around that level until 2019 before slowly rising.</p>

      <hr>
      <h2 class="teal">Some Conceptual Arguments</h2><br>

      <p>Many of the debates surrounding the United States federal budget center around competing macroeconomic schools of thought. In general, Democrats favor the principles of Keynesian economics to encourage economic growth via a mixed economy of both private and public enterprise, a welfare state, and strong regulatory oversight. Republicans generally support applying the principles of either laissez-faire&nbsp;or supply-side economics to grow the economy via small government, low taxes, limited regulation, and free enterprise. Debates have surrounded the appropriate size and role of the federal government since the founding of the country. These debates also deal with questions of morality, income equality and intergenerational equity. For example, Congress adding to the debt today may or may not enhance the quality of life for future generations, who must also bear the additional interest and taxation burden.</p>
      <p>Political realities make major budgetary deals difficult to achieve. While Republicans argue conceptually for reductions in Medicare and Social Security, they are hesitant to actually vote to reduce the benefits from these popular programs. Democrats on the other hand argue conceptually for tax increases on the wealthy, yet may be hesitant to vote for them because of the effect on campaign donations from the wealthy. The so-called budgetary &quot;grand bargain&quot; of tax hikes on the rich and removal of some popular tax deductions in exchange for reductions to Medicare and Social Security is therefore elusive.</p><br>

      <hr>
      <h2 class="teal">What are the main points of discussion for the 2016 elections? </h2><br>

      <p>As the 2016 Presidential election nears, candidates have begun to debate additional policies:</p>
      <ul>
         <li><b>Should Social Security program benefits be expanded or curtailed?</b>
            &nbsp;If laws are not changed, Social Security payments will be cut by roughly 25% in the early 2030s. There is active debate about the future of the program, as the population ages.</li>
         <li><b>What changes, if any, should be made to tax and transfer payment policies to address growing income inequality?</b>&nbsp;The American Taxpayer Relief Act of 2012 raised taxes on the higher-income taxpayers, increasing their effective tax rates. However, as of 2014 the U.S. was 30th percentile globally on income inequality and ranked last (most unequal) among the developed (OECD) countries.</li>
      </ul><br>
      <hr>
      <h2 class="teal">Sources: </h2><br>

      <ul>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/United_States_federal_budget&amp;sa=D&amp;usg=AFQjCNHUcMukX5BRPcVYMZd9sPSUTWly1g">Wikipedia - US Federal Budget</a></li>
         <li><a href="https://www.google.com/url?q=https://ballotpedia.org/2016_presidential_candidates_on_budgets&amp;sa=D&amp;usg=AFQjCNHE7f0Ge537ruOqdovboUKMeF6kNw">Ballotpedia - Candidates on Budgets</a></li>
      </ul>
   </body>
</html>