<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>
      <h1 class="teal">Civil Rights</h1><br>

      <hr><br>

      <h2 class="teal">What rights do we have? What rights do we need?</h2><br>

      <p>Civil rights are defined as rights that we have that the government, other individuals and corporations can&rsquo;t take away from us. The topic of civil rights spans across many different categories. </p><br>
      
      <hr><br>

      <h3 class="teal">Animal rights</h3><br>

      <p>The notion of the animal rights movement is that animals have the right to a life free from cruelty. Some even go so far as to say that animals are not ours to eat, wear, abuse, or otherwise use for our own gains. People advocate for animal rights by going vegetarian or vegan, boycotting companies that use animal products, test on animals or keep animals in captivity, and by advocating that animal shelters treat animals with respect.</p><br>

      <hr><br>

      <h3 class="teal">Authors&rsquo; rights</h3><br>

      <p>The author&rsquo;s rights movement works to make sure that author&rsquo;s works cannot be plagiarized, and that authors have access to all the rights that copyright laws provide. </p><br>
      
      <hr><br>

      <h3 class="teal">Children and Youth</h3><br>

      <p>Children and youth rights advocate that children and youth have the rights to not be subjected to child labor, and that they have a right to be nurtured and cared for. It is also advocated that although youth are minors (under 18 years old), they should be able to participate in society on a meaningful level.</p><br>
      
      <hr><br>

      <h3 class="teal">Consumers</h3><br>

      <p>Consumers will often advocate for free and fair trade, as well as accurate and complete information about products being bought and sold to be published in an accessible way. </p><br>
      
      <hr><br>

      <h3 class="teal">Elder rights</h3><br>

      <p>Elder rights are the rights&nbsp;of the aged. In the United States, elders&nbsp;are not recognized as a constitutionally protected class.&nbsp;Common rights issues faced by elders include age-related job discrimination (such as forced age of retirement), lack of access to medical treatments because of age or age-related obstacles, societal perceptions of ability/disability due to age, and vulnerability to abuse, including financial, physical, psychological, social, and sexual because of diminished capacity and lack of access to/ability to use technology.</p><br>

      <hr><br>

      <h3 class="teal">Fetuses</h3><br>

      <p>The rights of fetuses are often advocated in the context of abortion and its morality. Proponents advocate that fetuses are human lives and should have most if not all of the same protections that fully developed, grown humans have. </p><br>

      <hr><br>

      <h3 class="teal">Right to bear arms</h3><br>

      <p>The second amendment of the Constitution of the United States states that citizens have the right to bear arms or, in other words, own, operate and carry weapons. There is controversy about the extent to which this right stands. Proponents argue that the Constitution should be upheld at all times, and that if good-willed people were not allowed to own guns they would not be able to protect themselves against ill-willed people who own guns for malicious reasons, such as to rob or kill people. Opposers argue that if more gun restrictions were put into place in America, less people would be able to access guns, and therefore less people would own guns and less gun violence would result. Opposers also argue that America is the most developed country in the world with the most gun-violence and the most gun-related crimes and deaths domestically, and that we have more deaths due to a lack of gun control than deaths due to terrorism or other related causes.</p><br>
      
      <hr><br>

      <h3 class="teal">Human rights</h3><br>

      <p>Human rights&nbsp;are moral&nbsp;principles or norms, that describe certain standards of human behavior, and are regularly protected as legal rights&nbsp;in municipal and international law.&nbsp;They are commonly understood as inalienable fundamental rights&nbsp;&quot;to which a person is inherently entitled simply because she or he is a human being,&quot;&nbsp;and which are &quot;inherent in all human beings&quot; regardless of their nation, location, language, religion, ethnic origin or any other status. They are applicable everywhere and at every time in the sense of being universal, and they are egalitarian&nbsp;in the sense of being the same for everyone. They require empathy and the rule of law&nbsp;and impose an obligation on persons to respect the human rights of others. They should not be taken away except as a result of due process&nbsp;based on specific circumstances; for example, human rights may include freedom from unlawful imprisonment, torture, and execution.</p><br>

      <hr><br>

      <h3 class="teal">Indigenous rights</h3><br>

      <p>Indigenous rights, otherwise known as native rights, include all the rights that the native people of America would expect. These rights not only include basic survival and respect, but also preservation of their land, religion, culture and other aspects that define them as people. Indigenous people often point out that holidays such as Thanksgiving and Columbus Day often celebrate the slaughter and mistreatment of their people.</p><br>

      <hr><br>

      <h3 class="teal">Intersex rights</h3><br>

      <p>Intersex is&nbsp;a variation in sex&nbsp;characteristics including chromosomes, gonads, or genitals&nbsp;that do not fit typical definitions of male&nbsp;or female. It may involve genital ambiguity or other combinations of chromosomal genotype&nbsp;and sexual phenotype&nbsp;other than XY-male and XX-female. Intersex people are often pressured by society or medical personnel to have surgery in order to have their genitals more closely resemble a penis or vagina. However, it has not been confirmed that there are any health benefits to intersex people having this surgery. In fact, many intersex people are offended that society would want to make them conform to norms like that.</p><br>
      
      <hr><br>

      <h3 class="teal">Transgender rights</h3><br>

      <p>A transgender person is someone whose gender identity does not match the gender they were assigned at birth. Some transgender people conform to the gender binary in the sense that they identify as male or female, but others identify as non-binary identities, such as genderfluid, genderqueer, agender, bigender, etc. Transgender people have been fighting for equality in society for centuries on many fronts. They have fought for the rights to use the bathroom of the gender they identify with, rights to legally change their name on all documents and in the legal system, rights to fit into society without prejudice, and rights to safe, affordable, accessible and comprehensive health care.</p><br>

      <hr><br>

      <h3 class="teal">LGBT</h3><br>

      <p>The lesbian, gay, bisexual and transgender, queer/questioning, intersex, asexual, pansexual, etc. (LGBT) community has been fighting for many rights over the years. In 2015, the United States ruled that same-sex marriages are legal, and that all states are required to recognize and give marriage licenses to same-sex couples. However, people in the LGBTQ+ community in America and around the world are still struggling for the right to marry, donate blood, adopt children, serve in the military, the right to employment protection, and the rights to be accepted into society. </p><br>
      
      <hr><br>

      <h3 class="teal">Feminism / women&rsquo;s rights</h3><br>

      <p>Feminism is the notion that advocates for the complete equality of the sexes. Feminists have fought for the right of women to vote, work, and be independent from men in the past. Nowadays, women are still fighting for equal pay for equal work, especially women of color and transgender women. Women are also fighting for the right to safe, affordable and accessible reproductive health care, including access many different forms of birth control and abortions. In other countries, women are still fighting for voting rights, working rights, and rights to family access.</p><br>
      
      <hr><br>

      <h3 class="teal">Mother&rsquo;s rights</h3><br>

      <p>The ideals of feminism also extend to mothers, including the notion that it is okay to breastfeed in public, family leave should be long and paid, and that it is okay to be a mother and work at the same time.</p><br>
      
      <hr><br>

      <h3 class="teal">Prisoner&rsquo;s rights</h3><br>

      <p>Prisoners advocate for rights to a safe, harassment-free environment. Others advocate that prisons should provide educational and other opportunities for the prisoners to learn a trade during their time so that they can obtain a job and sustain themselves when they get out.</p><br>
      
      <hr><br>

      <h3 class="teal">Student&rsquo;s rights</h3><br>

      <p>Students have advocated that tuition be free or significantly lowered, that student debt should not have outrageously high interest rates, and that their parents cannot see their grades without their permission. They have also advocated for Title IX to be upheld, and that schools take appropriate action to prevent and react to situations of sexual assault and domestic violence.</p><br>
      
      <hr><br>

      <h3 class="teal">Worker&rsquo;s rights</h3><br>

      <p>Workers have advocated for safe work conditions, insurance, worker&rsquo;s compensation, and time off without penalty for a long time.</p><br>

      <hr><br>

      <h3 class="teal">Disability rights</h3><br>

      <p>People who are disabled in a variety of ways have advocated for a variety of rights. People on the autism spectrum have advocated that they be respected and understood in society, and that their educators make the appropriate accommodations for them when necessary, such as adapt their teaching patterns or give them extra time on tests. People who are physically disabled have advocated that buildings be accessible to them by providing ramps and buttons to open doors. People with disabilities have a large community, and many do not have any desire to change themselves, but to be accepted into society for who they are authentically.</p>
      
      <hr><br>

      <h2 class="teal">What does this mean to me?</h2><br>

      <ul>
         <li>What do I identify as?&nbsp;Am I a person of color? A female, or mother? Part of the LGBT community? Do I have a disability? What about a student, or worker?</li>
         <li>How does who I am affect how I go about my daily life?&nbsp;What privileges do I have? Which ones do I not have? What do these privileges, or lack thereof, mean for me on a personal and societal level?</li>
         <li>Are there any rights that I currently have or do not have based on who I am as a person? Should this remain the status quo, or should I or society be doing anything to change what rights I do or do not have?</li>
         <li>If I am privileged in one way, how can I best use my privilege?&nbsp;Should I use it only to further myself in life, or should I also use it to help those who do not have the same privilege as me?</li>
      </ul><br>

      <hr><br>

      <h2 class="teal">Sources:</h2><br>

      <p><a href="https://www.google.com/url?q=http://www.infoplease.com/spot/civilrightstimeline1.html&amp;sa=D&amp;usg=AFQjCNFipwvoWYp2agvLn1f_22IrE_z-Ig">Infoplease - Civil Rights Timeline</a>&nbsp;</p>
      <p><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Civil_and_political_rights&amp;sa=D&amp;usg=AFQjCNE42CsTPOv8Df4QEX4zoMyRuYzDvw">Wikipedia - Civil and Political Rights</a></p>

   </body>
</html>