<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>

      <h1 class="teal">Corporations</h1><br>

      <hr><br>

      <h2 class="teal">What role do big companies play in society?</h2><br>

      <p>Capitalism allows for companies to compete, survive, thrive and fail in an ever-changing market. This often results in some companies growing to be huge, wealthy companies with vast resources and power (even political), while other companies are not so lucky. These larger companies can play a huge role when it comes to determining the culture, values, and even leadership of our country. </p>
      <p>Some people believe that corporations should be regulated in regards to how much money they make, how much or what kind of resources they can use, and what prices they can sell their products at. Others believe that the market should not have any regulations put in place by the government, but that we should have a free market should be determined by the people.</p><br>

      <hr><br>

      <h2 class="teal">What is the role of large corporations in the upcoming elections?</h2><br>

      <p>The contest to become the 45th president of the United States marks the first race since 2008 in which there&#39;s no incumbent on the ballot. That, of course, was a historic election, bringing the nation its first black commander in chief. In 2016, American voters could again make history by electing the first female president, or the first with Cuban parents, or the first whose father and brother have also been presidents &ndash; or maybe the first with multiple super PACs and dark money groups working exclusively to get him or her elected.</p>
      <p>The 2016 race started early with a large field of potential candidates, some of whom acted very much like, well, candidates &mdash; making appearances in early primary states, vying for commitments from big donors and assembling teams that could quickly pivot and become campaign staff. Meanwhile, constellations of groups working on behalf of each of the most serious White House hopefuls &ndash; including leadership PACs, super PACs, 501(c)(4) dark money outlets and more &ndash; cropped up like spring flowers, all but inviting spending records to be broken.</p><br>

      <p class="teal">(Darker bars represent outside money; lighter bars represent candidate committee money)</p><br>

      <hr><br>

      <p><img alt="" src="http://s3.postimg.org/7a3vrmh8z/image00.png"></p><br>

      <hr><br>

      <h2 class="teal">What does this mean to me?</h2><br>

      <ul>
         <li>As a consumer, what kinds of companies do I want to be supporting?&nbsp;Is it more helpful for me to be supporting companies that are already successful, or do I want to help smaller companies get off the ground?</li>
         <li>What kinds of values should a company be founded upon?&nbsp;Does the company exist for any other purpose other than to make money? If so, do I support or agree with that purpose? </li>
         <li>Why do I shop at the places I shop at?&nbsp;Is it because I enjoy their products? Is it because it is convenient for me to shop there? Is it because shopping there has a larger effect on society or my own life?</li>
         <li>Now that I know the fact that many candidates are being supported by PACs or Super PACs, do my interests align with those of the people/companies funding the candidate? Is there a conflict of interest that the potential presidential candidate will have to deal with, therefore weakening their position as a leader?</li>
         <li>Are there any candidates who are mostly self-funded, and whose policies are not driven by the people that fund them?</li>
      </ul><br>

      <hr><br>

      <h2 class="teal">Sources:</h2><br>

      <ul>
         <li><a href="https://www.google.com/url?q=http://www.ontheissues.org/Corporations.htm&amp;sa=D&amp;usg=AFQjCNE1NGK35TSZXLD1NRktqy4QhCQf8w">On The Issues - Corporations</a></li>
         <li><a href="https://www.google.com/url?q=http://www.opensecrets.org/pres16/&amp;sa=D&amp;usg=AFQjCNHU-o3BCg-Nk5OrW0EKQWKCxMt45g">Open Secrets</a></li>
      </ul>

   </body>
</html>