<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
      <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
   </head>
   <body >

      <h1 class="teal">Crime &amp; Criminal Justice</h1><br>

      <h2 class="teal">Overview</h2><br>

      <p ><img src="http://36.media.tumblr.com/d1130952388f685abc6c5fdc1453dcb7/tumblr_nv8kf0P6hK1ufxoi7o1_1280.jpg" alt="Crime Infographic"></p><br>
      
      <hr><br>

      <h2 class="teal">Why is criminal justice being given an all new level of importance in the 2016 elections?</h2><br>

      <p >For the first time in decades, the U.S. presidential race isn&#39;t just a contest to see who can strike the most aggressive posture on crime.</p>
      <p >When the conversation has turned to crime and punishment, arguments have largely gone in the opposite direction as years past. Rather than pushing fears of urban crime, the conversation has been with some notable exceptions, naturally&mdash;about &lsquo;Black Lives Matter&rsquo;, &lsquo;police brutality&rsquo;, and the detrimental effects of &lsquo;mass incarceration&rsquo;.</p>
      <p >Reform of the criminal-justice system still tends to take a backseat to debates about foreign policy and the economy. Some candidates have made reform a major plank of their platforms, while others seem like they would rather talk about anything else.</p>
      <p >What follows is a breakdown of where many of the leading 2016 presidential candidates stand on criminal justice and police reform.</p><br><br>


      <h3 class="teal">Vermont Sen. Bernie Sanders (D)</h3><br>

      <p >Bernie Sanders has been a public supporter of civil rights for decades&mdash;he marched with Martin Luther King Jr. in the 1960s. However, the progressive movement&#39;s standard bearer had largely shied away from directly addressing the fundamental criminal-justice reforms at the heart of the Black Lives Matter movement. As such, Sanders has been repeatedly targeted by activists critical of his platform&#39;s largely color-blind economic populism. The culmination of this tension occurred when a pair of African-American activists barged onstage a Sanders rally in Seattle, interrupting the the senator&#39;s speech.</p>
      <p >The activists&#39; goal in creating tension with the Sanders campaign was to push the most liberal major party candidate in the race, the one whose political philosophy most closely aligns with their own, to foreground the issues they care about.</p>
      <p >It worked. Sanders released a major policy statement on his website under the title &ldquo;Racial Justice.&rdquo; The plan, which earned plaudits from leaders in the Black Lives Matter movement, called for the demilitarization of America&#39;s police forces, federal funding for mandatory police body cameras, requirements for all law-enforcement agencies to collect data on all police shootings as well as everyone who goes into police custody, the elimination of mandatory minimum sentencing, and an end to private prisons.</p>
      <p >&ldquo;Sandra Bland, Michael Brown, Rekia Boyd, Eric Garner, Walter Scott, Freddie Gray, Tamir Rice, Samuel DuBose. We know their names. Each of them died unarmed at the hands of police officers or in police custody. The chants are growing louder. People are angry, and they have a right to be angry,&rdquo; wrote Sanders in his policing reform plan. &ldquo;We should not fool ourselves into thinking that this violence only affects those whose names have appeared on TV or in the newspaper. African-Americans are twice as likely to be arrested and almost four times as likely to experience the use of force during encounters with the police.&rdquo;</p><br><br>


      <h3 class="teal">Former Secretary of State Hillary Clinton (D)</h3><br>

      <p >As someone who has been at the forefront of American public policy since the early 1990s, Hillary Clinton&#39;s record on criminal justice reform is complex.</p>
      <p >In a speech earlier this year, Clinton laid out an ambitious agenda. &ldquo;We have to come to terms with some hard truths about race and justice in America,&rdquo; Clinton said at a forum hosted by Columbia University shortly after Freddie Gray died while in Baltimore police custody, sparking destructive riots. &ldquo;There is something profoundly wrong when African-American men are still far more likely to be stopped and searched by police, charged with crimes, and sentenced to longer prison terms than are meted out to their white counterparts.&rdquo;</p>
      <p >&ldquo;We have to come to terms with some hard truths about race and justice in America.&rdquo;</p>
      <p >Clinton has called for mandatory police body cameras, rolling back federal programs providing military hardware to civilian police forces, diverting low-level offenders to alternative punishment programs, improving relations between police forces and minority communities through grants for community policing initiatives. She also wants to help law-enforcement officers buy homes in the communities they serve and eliminate mandatory minimum sentences for certain nonviolent, low-level offenses.</p>
      <p >In short, Clinton&#39;s policies largely echo that of Sanders, her closest rival.</p>
      <p >However, when Clinton&#39;s husband occupied the Oval Office, his administration either put in place or, at least, fully supported many of the tough-on-crime policies criminal justice reform advocates argue are the root of the current tension between police officers and the communities they serve.</p>
      <p >&ldquo;We need more police,&rdquo; then-First Lady Clinton said in a 1994 speech. &ldquo;We need more and tougher prison sentences for repeat offenders. The &#39;three strikes and you&#39;re out&#39; for violent offenders has to be part of the plan. We need more prisons to keep violent offenders for as long as it takes to keep them off the streets.&rdquo;</p>
      <p >Over time, Clinton&#39;s rhetoric on crime and the war on drugs in particular have softened&mdash;just as the percentage of Americans listing high crime rates as a top political concern has dropped. &ldquo;I think that the results not only at the federal level but at the state level have been an unacceptable increase in incarceration across the board, and now we have to address that,&rdquo; Clinton said in a 2007 speech, during her last presidential campaign. &ldquo;But we&#39;ve got to take stock now of the consequences, so that&#39;s why &hellip; I want to have a thorough review of all of the penalties.&rdquo;</p><br><br>


      <h3 class="teal">Former Florida Gov. Jeb Bush</h3><br>

      <p >Throughout his political career, Jeb Bush has fashioned himself as especially tough on crime. A story in journalist and author Kitty Kelley book on the the Bush family had Jeb describing himself as a &ldquo;hang-&#39;em-by-the-neck conservative.&rdquo;</p>
      <p >&ldquo;I don&#39;t think it&rsquo;s a systemic problem. Poverty and generational poverty, which is really one of the great challenges of our time, is a problem.&rdquo;</p>
      <p >During his initial, unsuccessful, campaign to become Florida governor in 1994, Bush ran on a platform of ensuring prisoners served at least 85 percent of their original prison sentences before being eligible for parole, building more prisons, and making the appeals process for death row inmates faster and less expensive by removing some of their opportunities to appeal. He told the Orlando Sentinel at the time that, when it came to the juvenile justice system, he was in favor of &ldquo;emphasizing punishment over therapy.&rdquo;</p>
      <p >While governor, he signed a &ldquo;three strikes&rdquo; law that gave a mandatory life sentence to anyone convicted of three felonies.</p>
      <p >When it comes to the major policing issues that have arisen in recent years, Bush has largely stayed silent. Instead, he&#39;s preferred to divert the conversation to conservative social issues. In the wake of the Freddie Gray riots in Baltimore earlier this year, Bush insisted the root of the problem was a combination of government welfare programs and failing public schools. Fixing those, Bush charged, would shift &ldquo;the pathologies being built around people who are poor, that they&#39;re going to stay poor.&rdquo;</p>
      <p >When asked by Fox News host Megyn Kelly if the law enforcement policies at the heart of the controversies in places like Baltimore or Ferguson, Missouri, were problematic, Bush said no. &ldquo;I don&#39;t think it&#39;s a systemic problem,&rdquo; he said. &ldquo;Poverty and generational poverty, which is really one of the great challenges of our time, is a problem. And the welfare state, liberal-progressive approach to this has failed.&rdquo;</p><br><br>


      <h3 class="teal">Businessman Donald Trump (R)</h3><br>

      <p >Donald Trump&#39;s unexpectedly successful run for the Oval Office began by him stoking fears of crime&mdash;specifically sexual assaults committed by undocumented immigrants from Mexico. It&#39;s part of Trump&#39;s long history of making public statements in favor of strong, extremely aggressive policing and punishment.</p>
      <p >&ldquo;The perpetrator is never a victim. He&rsquo;s nothing more than a predator.&rdquo;</p>
      <p >&ldquo;We can have safe streets. But unless we stand up for tough anti-crime policies, they will be replaced by policies that emphasize criminals&rsquo; rights over those of ordinary citizens,&rdquo; wrote Trump in his 2000 book The America We Deserve. &ldquo;Soft criminal sentences are based on the proposition that criminals are the victims of society. A lot of people in high places really do believe that criminals are victims. The only victim of a violent crime is the person getting shot, stabbed, or raped. The perpetrator is never a victim. He&rsquo;s nothing more than a predator.&rdquo;</p>
      <p >Decades ago, Trump involved himself in the case of five minority teenagers who were accused of brutally raping a female jogger in New York&#39;s Central Park in 1989 by taking out full-page ads calling for the death penalty for the assailants. Over a decade later, another man, previously unconnected to the case, admitted to the attack; all charges against the original suspects were withdrawn, and the city of New York eventually paid out a $40 million wrongful-conviction settlement.</p>
      <p >Since then, Trump&#39;s views on crime seem to have shifted little. When asked recently about the complaints of the Black Lives Matter movement on NBC&#39;s Meet The Press, Trump said, &ldquo;Well, I can certainly see what&rsquo;s going on, but at the same time we have to give power back to the police because we have to have law and order. ... We have to give strength and power back to the police.&rdquo;</p><br><br>


      <h3 class="teal">Kentucky Sen. Rand Paul (R)</h3><br>

      <p >Of all the 2016 presidential candidates, Rand Paul is undoubtedly the one who has most made criminal-justice reform central to his political career. And, largely unique among Republicans, Paul readily asserts that the criminal-justice system unfairly targets African-Americans. &ldquo;Our nation&#39;s laws should focus on imprisoning the most dangerous and violent members of our society,&rdquo; Paul wrote in an essay for the Brennan Center for Justice. &ldquo;Instead, our criminal justice system traps nonviolent offenders&mdash;disproportionately African-American men&mdash;in a cycle of poverty, unemployment, and incarceration.&rdquo;</p>
      <p >&ldquo;Our criminal justice system traps nonviolent offenders ... in a cycle of poverty, unemployment, and incarceration.&rdquo;</p>
      <p >Earlier this year, Paul teamed with Democratic Sen. Brian Schatz of Hawaii to introduce a bill prohibiting the transfer of military equipment to civilian police departments.</p>
      <p >Not only has Paul introduced legislation aimed at restoring voting rights to some convicted felons, but the libertarian joined with liberal New Jersey Sen. Cory Booker (D) following a Twitter bromance, to repeatedly introduce legislation designed to incentivize keeping teens out of the criminal-justice system and let certain nonviolent drug offenders retain access to government benefits like food stamps.</p><br><br>


      <h3 class="teal">Wisconsin Gov. Scott Walker (D)</h3><br>

      <p >While Scott Walker has largely ignored policing in his presidential campaign, his record as both state assembly member and governor indicates where he stands on the fundamental issues of criminal-justice reform.</p>
      <p >As Buzzfeed notes, Walker used his time in the Wisconsin State Assembly to support the Truth In Sentencing Act, which sparked a dramatic increase in the state&#39;s prison population and laws allowing children, even those as young as 10, to be tried as adults.</p>
      <p >&ldquo;It&#39;s about making sure that law enforcement professionals ... have the proper training, particularly when it comes to the use of force.&rdquo;</p>
      <p >Republican candidates like Bush, Paul, former Texas Gov. Rick Perry, and Texas Sen. Ted Cruz have signed onto Right On Crime, a conservative think tank that advocates for criminal-justice reforms, including reducing the prison population, Walker has been a conspicuous non-signatory and hasn&#39;t spoken publicly about issues like police body cameras or police militarization.</p>
      <p >&ldquo;People being incarcerated for relatively low offenses is not a significant issue in the state of Wisconsin,&rdquo; Walker said at a forum held at Disney&#39;s Magic Kingdom earlier this year&mdash;even though a 2013 University of Wisconsin study found that the state jails black men at a higher rate than any other in the nation. In Milwaukee County, over fifty percent of African American men in their 30s have served time in prison.</p>
      <p >Walker broke his silence on policing and race at the first GOP presidential debate after moderator Megyn Kelly asked him to address the issue. His response marked a slight, but significant, shift.</p>
      <p >&ldquo;Well, I think the most important thing we can do when it comes to policing&mdash;it&#39;s something you&#39;ve had a guest on who&#39;s a friend of mine, Milwaukee County Sheriff David Clarke, who&#39;s talked to me about this many times in the past&mdash;it&#39;s about training,&ldquo; Walker said.</p>
      <p >&ldquo;It&#39;s about making sure that law enforcement professionals, not only on the way into their positions but all the way through their time, have the proper training, particularly when it comes to the use of force,&rdquo; he added. &ldquo;And that we protect and stand up and support those men and women who are doing their jobs in law enforcement. And for the very few that don&#39;t, that there are consequences to show that we treat everyone the same here in America.&rdquo;</p><br><br>


      <h3 class="teal">New Jersey Gov. Chris Christie (R)</h3><br>

      <p >Before he became governor of New Jersey, Chris Christie served as a U.S. Attorney and focused on public corruption cases. He&#39;s largely considered the &ldquo;law-and-order&rdquo; candidate in the Republican field. Yet, he&#39;s far more willing to talk about the failures of the criminal-justice system than some of his GOP rivals.</p>
      <p >&ldquo;It&#39;s all well and good to be talking about punishment. But in the end, what&#39;s happening is that our society is being punished.&rdquo;</p>
      <p >On his website, Christie details a criminal-justice reform plan that&#39;s largely modeled around the successful reforms made in Camden, New Jersey, which involved dramatically increasing the number of cops on the street and using surveillance technologies like a network of microphones that can detect gunshots. However, Christie&#39;s plan also advocates for the expansion of drug courts that divert nonviolent drug offenders to treatment rather than prison. It also calls for reforming the bail system to base assessments on the risk an individual poses to their community rather than just their ability to pay. </p>
      <p >As governor, Christie signed a law in New Jersey that prevent employers from asking whether a job applicant has been convicted of a crime on initial job applications as a way to increase employment among ex-cons, and he has advocated for similar rules nationally.</p>
      <p >Speaking during a visit to a rehab facility in New Hampshire, Christie labeled the war on drugs &ldquo;completely a failure,&rdquo; arguing that sticking large quantities of nonviolent, low-level drug offenders in jail was doing far more harm than good. &ldquo;It&#39;s all well and good to be talking about punishment,&rdquo; Christie said. &ldquo;But in the end, what&#39;s happening is that our society is being punished.&rdquo;</p>
      <p >That said, Christie has stated a strong opposition to any form of drug legalization, which even some police officers say is the most straightforward way to bring the war on drugs to an end. Speaking to conservative radio host Hugh Hewitt earlier this year, Christie said he would &ldquo;crack down&rdquo; on any states that legalized marijuana.</p><br>
      
      <hr><br>

      <p ><img src="http://www.pretrial.org/wp-content/uploads/2015/06/updated-infographic-6_2015.jpg" alt="Crime Infographic"></p><br>
      
      <hr><br>

      <h2 class="teal">What does this mean to me?</h2>

      <p><span>If you&rsquo;re still unsure where you stand on crime issues, ask yourself the following questions:</span></p>
      <ul class="c12 lst-kix_lykpz230dq2t-0 start">
            <li>Have you ever been to jail or arrested?&nbsp;If so, how were you treated in those situations by the authority figures? Do you feel that you were treated fairly? Do you feel that the authorities handled the situation in an appropriate way?</li>
            <li>Do you know anyone who is currently in jail or prison?&nbsp;If so, have they ever told you how they are being treated? How do you think prisoners should be treated? Should they have opportunities to better themselves while they are in prison, or should the experience be as miserable as possible for them?</li>
            <li>Is there anything that you do now that you feel should not be against the law? </li>
            <li>If you do break a law, should the punishment that you receive be the same as another person who is different from you but committed the same crime?</li>
      </ul><br>
      
      <h2 class="teal">More Food for Thought</h2><br>

      <a data-pin-do="embedBoard" data-pin-board-width="900" data-pin-scale-height="700" data-pin-scale-width="115" href="https://www.pinterest.com/informare/crime/"></a>

      <hr><br>

      <h2 class="teal">Sources:</h2><br>
      <ul >
         <li ><a  href="https://www.google.com/url?q=https://www.washingtonpost.com/news/the-watch/wp/2015/08/06/heres-what-presidential-candidates-websites-say-about-criminal-justice-reform/&amp;sa=D&amp;usg=AFQjCNGF08cQibAncuQ8v6Mki2CtJ6CwvA">Washington Post - Candidates on criminal justice reform</a></li>
         <li ><a  href="https://www.google.com/url?q=http://www.ontheissues.org/Crime.htm&amp;sa=D&amp;usg=AFQjCNFUDpdZHptU3W5oThh6RmFoVFAYWg">On The Issues - Crime</a></li>
         <li ><a  href="https://www.google.com/url?q=http://www.usnews.com/news/politics/articles/2015/11/25/criminal-justice-issues-showing-up-in-2016-presidential-race&amp;sa=D&amp;usg=AFQjCNHyByfaNn3EGJZxCaLTO3dIdE-MvA">US News - Criminal justice in the 2016 race</a></li>
      </ul>
   </body>
</html>