<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    </head>
    <body>
        <h1 class="teal">Which substances should we be able and allowed to put into our bodies, and under what circumstances?</h1>
        
        <p>A drug is a substance that has known biological effects on animals or humans. The medical field and the law enforcement field have long struggled to come to a consensus on what America&rsquo;s policies on legal and illegal drugs should be.</p>
        
        <h2 class="teal">Should we decriminalize drug use?</h2>
        
        <p>For decades, drug use has been criminalized in America. People have been arrested left and right and forced to attend rehabilitation centers whether or not they wanted to. Oftentimes, though, people will be thrown in jail for drug use as opposed to being sent to rehab or otherwise receiving the help that they supposedly need.</p>

        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th colspan="1" rowspan="1">
                        <p><span><strong>Yes, decriminalize drug use.</strong></span></p>
                    </th>
                    <th colspan="1" rowspan="1">
                        <p><span><strong>No, keep drug use a crime.</strong></span></p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>Many drug users are not bad people and have no ill-willed intentions.</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Drug users pose a threat to society because oftentimes drug use will lead someone to perform other crimes, such as theft.</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>Many drug users are just are trying to cope with whatever issues in life that nudged them to start using drugs in the first place.</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Drug users use drugs for fun and to be rebellious and therefore deserve no sympathy for any negative consequences that come to them.</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>People who suffer from drug addictions need support, not jail time.</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>It is cheaper to throw drug users in prison than it is to put them in rehab.</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <hr>
        <h2 class="teal">Should we legalize marijuana?</h2>
        
        <p>When folks talk about decriminalizing the possession, sale and usage of drugs, they often talk about legalizing marijuana. Marijuana is a plant, otherwise known as cannabis, that can be smoked or eaten in order to produce a high, or otherwise good, light feelings, in the consumer. Currently, marijuana is completely legalized in Colorado, Washington, Oregon and Alaska, and has been decriminalized in many other states. Other states have legalized the use of medical marijuana, but have still outlawed recreational use.</p>

        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th colspan="1" rowspan="1">
                        <p><span><strong>Yes, we should legalize marijuana.</strong></span></p>
                    </th>
                    <th colspan="1" rowspan="1">
                        <p><span><strong>No, we should not legalize marijuana.</strong></span></p>
                    </th>
                </tr>
            </thead>
            <tbody>    
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>Legalization of marijuana will lead to less drug-related crimes.</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Marijuana legalization will lead to more deaths related to driving while high.</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>Less people will get unnecessarily fined or arrested for participating in activities that are not harming society or anyone else in any way.</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>If marijuana is legalized, people will smoke it more often around their house. If those people have children, those children will be susceptible to the effects of secondhand smoke.</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>Smoking marijuana is less harmful than smoking cigarettes because it is not physically addictive like nicotine in cigarettes is. </span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Recreational marijuana can be detrimental to your health if used excessively.</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>The people who are predisposed to use drugs and have the opportunity to use drugs are more likely than others to use both marijuana and harder drugs. Marijuana typically comes first because it is more available.</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Marijuana is a &ldquo;gateway drug&rdquo; that often leads to the use of more dangerous drugs, such as heroin, ecstasy and methamphetamines. </span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>The government spent $15 billion on the &ldquo;War on Drugs&rdquo; up to 2011, and that money could be better spent on other things.</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>The &ldquo;War on Drugs&rdquo; is justified because we care about the health of our citizens and we want to protect them from the harm that comes from abusing drugs.</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>Legalizing marijuana will aid our economy because it will be able to be freely traded, causing more of a profit for small business owners who sell it.</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Our economy should be based on products that promote a healthy way of life.</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>If marijuana is legal, it would no longer be on the black market, thereby reducing the black market&rsquo;s power and negative influence on the U.S.&rsquo; economy and culture.</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Even if marijuana is legalized, there would still be other drugs and illegal paraphernalia on the black market.</span></p>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>
        <h2 class="teal">Should welfare participants be tested for drugs?</h2>
        <p>People receive welfare from the government if they are below the poverty line and are deemed in need of extra financial assistance from the government. Some believe that people who are receiving welfare should be drug tested.</p>

        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>Yes, drug test welfare participants.</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>No, do not drug test welfare participants.</span></p>
                    </td>
                </tr>
            </thead>    
            <tbody>    
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>Someone should not be receiving extra financial help from the government if they are just going to use it for recreational drug use. That would mean that the government is literally funding their destructive habits.</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>People should not be chastised for their drug use or addiction. We should instead provide resources so that these people have the opportunity to help themselves.</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>If someone is poor, it is their own fault. Oftentimes people become poor due to irresponsible financial habits.</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Drug use often stems from deeper societal issues, such as the stress that comes with poverty, discrimination, or depression. We should work to help these people solve the root of these problems instead of punishing people for dealing with them in their own way.</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>If we do not give poor drug users money, we can save the government money on other things.</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Drug testing is extremely expensive, costing approximately $42 per person. The money that is spent drug testing people for welfare results in negligible savings because only around 1% of people who are drug tested for welfare actually test positive.</span></p>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>
        <h2  class="teal">What does this mean to me?</h2>
        <p>If you&rsquo;re still unsure where you stand on drug-related issues, ask yourself the following questions.</p>
        <ul class="c13 lst-kix_s8ujz8ov0lbb-0 start">
            <li class="c7"><strong>Do you personally like to smoke, eat or otherwise consume marijuana?</strong><span class="c12">&nbsp;If so, do you enjoy being paranoid about the police catching you while you&rsquo;re high? If not, is the fact that recreational marijuana is still currently illegal in many places preventing you from trying it?</span></li>
            <li class="c7"><strong>Would there be a supply and demand issue if cannabis did not have a supply and demand issue due to its illegalization?</strong><span class="c12">&nbsp;Currently most of the crime that occurs surrounding the issue of cannabis happens because it is a really scarce resource and costs a lot of money. </span></li>
            <li class="c7"><strong>Have you ever seen people kill each other or indulge in any form of violent crime over a common commodity like salad or bananas?</strong><span class="c12">&nbsp;These are common items that are mass produced. People don&rsquo;t usually kill each other over plants.</span></li>
            <li class="c7"><strong>What if cannabis, which is a natural plant, also grew in our forests like any other plant?</strong><span class="c12">&nbsp;What if people were allowed to consume it like any other plant? </span></li>
            <li class="c7"><strong>If recreational marijuana is legalized, do you trust people to not drive or engage in other activities that are dangerous while they&rsquo;re high? </strong><span class="c12">Alcohol is legal, and drunk driving occurs today. Alcohol was illegal during Prohibition in the 1920s, and people still drank it and sometimes probably even drove after they drank.</span></li>
            <li class="c7"><strong>If you were caught smoking marijuana or doing some other not deadly drug, do you think you would deserve to go to jail?</strong><span class="c12">&nbsp;</li>
            <li class="c7"><strong>If you or someone you know was suffering with a drug addiction, would it be more helpful to go to jail or to go to rehab?</strong></li>
            <li class="c7"><strong>If you depended on the government to help you financially, would it be fair for you to be spending that money on marijuana or other drugs?</strong></li>
        </ul>
        
        <hr>
        <h2 class="teal">More Food for Thought</h2>
        
        <!-- Pinterest plugin -->
        <a data-pin-do="embedBoard" data-pin-board-width="900" data-pin-scale-height="700" data-pin-scale-width="115" href="https://www.pinterest.com/galejklol/drugs/"></a>
        

        <hr>
        <h2>Sources</h2>
        <ul class="c13 lst-kix_ecd7kraj7qd8-0 start">
            <li class="c6"><span class="c14"><a class="c20" target="_blank" href="https://www.google.com/url?q=http://www.isidewith.com/elections/2016-presidential-quiz&amp;sa=D&amp;usg=AFQjCNEROUngC81XoL5qSyWhmtfguy4cWQ">isidewith.com</a></span></li>
            <li class="c6"><span class="c14"><a class="c20" target="_blank" href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Timeline_of_cannabis_laws_in_the_United_States&amp;sa=D&amp;usg=AFQjCNF05o1XFYF_jGR2A5_k_u2XjeZmmA">Cannabis Law - Wikipedia</a></span></li>
            <li class="c6"><span class="c14"><a class="c20" target="_blank" href="https://www.google.com/url?q=http://stopthedrugwar.org/&amp;sa=D&amp;usg=AFQjCNHmoo3U0AeJsiR3VfywwnSgppIx1A">stopthedrugwar.org</a></span></li>
            <li class="c6"><span class="c14"><a class="c20" target="_blank" href="https://www.google.com/url?q=http://www.donturnerlegalteam.com/marijuana-use-infographic/&amp;sa=D&amp;usg=AFQjCNFEjjjADmWiGTdmMDYa6yjPvF_zbQ">Don Turner Legal Team</a></span></li>
        </ul>
    </body>
</html>