<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
      <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
   </head>
   <body>
      
      <h1 class="teal">How can we best educate our people?</h1><br>

      <p>Education is a topic that many are passionate about. We want to make sure that we can educate people in the most equal, fair, and affordable way possible.</p><br>

      <hr><br>

      <h2 class="teal">Student loans: should education be free?</h2><br>

      <p>If a student cannot pay for college on their own, oftentimes they will apply for financial aid in the form of student loans. Based on their and their parent&rsquo;s income and credit history, they can receive aid up to the amount of their tuition. However, the student must pay these loans back, often with higher interest rates than they can afford post-graduation. This can cause a lot of financial stress on the student as they transition to their life after they graduate. Because of this, many people believe that public higher education in America should be free or have a significantly reduced tuition rate. Many other countries in Europe have or used to have free public higher education because they feel that education should be a human right, not a privilege. However, opposers say that free education would increase taxes, and that there are many ways that someone can get help paying for school already, such as serving in the military.</p><br>

      <hr><br>

      <h2 class="teal">Common Core</h2><br>

      <p>The Common Core State Standards Initiative is an education initiative that details what K-12 students should know in English and Math at the end of each grade. The initiative is sponsored by the <a href="https://www.google.com/url?q=http://en.wikipedia.org/wiki/National_Governors_Association&amp;sa=D&amp;usg=AFQjCNHeoYRWgUb6zJKHaT5xANUiPiObOw">National Governors Association</a>&nbsp;and the <a href="https://www.google.com/url?q=http://en.wikipedia.org/wiki/Council_of_Chief_State_School_Officers&amp;sa=D&amp;usg=AFQjCNHOOApfpCB112IvGDWhyE5liZraMQ">Council of Chief State School Officers</a>&nbsp;and seeks to establish consistent education standards across the states as well as ensure that students graduating from high school are prepared to enter two or four year college programs or enter the workforce. </p>
      <p>Educational standards are the learning goals for what students should know and be able to do at each grade level. Education standards, like Common Core are not&nbsp;a curriculum. Local communities and educators choose their own curriculum, which is a detailed plan for day to day teaching. In other words, the Common Core is what students need to know and be able to do, and curriculum is&nbsp;how students will learn it. The Common Core State Standards are educational standards for English language arts (ELA)/literacy and mathematics in grades K-12.</p>
      <p>State education chiefs and governors in 48 states came together to develop the Common Core, a set of clear college- and career-ready standards for kindergarten through 12th grade in English language arts/literacy and mathematics. Today, 42 states and the District of Columbia have voluntarily adopted and are working to implement the standards.</p><br>

      <hr><br>

      <h2 class="teal">What does this mean to me?</h2><br>

      <ul>
         <li>What kind of school do I currently attend or used to attend?&nbsp;Was it a private school, public school, charter school, boarding school? </li>
         <li>What did I like or dislike about my school&rsquo;s methods of teaching?&nbsp;Is there anything that I would change? How do I learn best?</li>
         <li>Do I want to have the same kind of education as another pupil at another school?&nbsp;Or should my school be able to teach me to my fullest potential?</li>
         <li>Do I want to continue my education?&nbsp;If so, what do I want to learn about? How do I want to learn about it? If not, why not?</li>
         <li>How much money should I as a student be required to pay for my higher education?&nbsp;If I should pay less than I currently do, where else should the money that I would otherwise be paying to my school come from?</li>
      </ul><br>

      <hr><br>

      <h2 class="teal">More Food for Thought</h2><br>

      <a data-pin-do="embedBoard" data-pin-board-width="900" data-pin-scale-height="700" data-pin-scale-width="115" href="https://www.pinterest.com/informare/education/"></a>
      
      <hr><br>      

      <h2 class="teal">Sources:</h2><br>

      <p><a href="https://www.google.com/url?q=http://www.isidewith.com/elections/2016-presidential-quiz&amp;sa=D&amp;usg=AFQjCNEROUngC81XoL5qSyWhmtfguy4cWQ">I Side With - Education</a>&nbsp;</p>
      <p><a href="https://www.google.com/url?q=http://www.corestandards.org/&amp;sa=D&amp;usg=AFQjCNEWPrJ3n_06fFuOyjLHW7URDu8Yfw">Core Standards</a>&nbsp;</p>
      <p><a href="https://www.google.com/url?q=https://vimeo.com/116379560&amp;sa=D&amp;usg=AFQjCNF7nLGUWry45eSTIgO0uQ0-zKkhsQ">Video - 1</a>&nbsp;</p>
      <p><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Common_Core_State_Standards_Initiative&amp;sa=D&amp;usg=AFQjCNH2Y1UAgGk_DtwZRLKfDCWLVOIKrA">Wikipedia - Common Core Standards Initiative</a>&nbsp;</p>
      <p><a href="https://www.google.com/url?q=https://studentloans.gov/myDirectLoan/index.action&amp;sa=D&amp;usg=AFQjCNE-I5XJbzkEfHV5M7P_5YSdINk0Vw">Student Loans dot gov</a>&nbsp;</p><br>

   </body>
</html>