<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>

      <h1 class="teal">Energy &amp; Oil</h1><br>

      <hr><br>

      <h2 class="teal">How should we be producing energy? How much of it should we consume? </h2><br>

      <p>There are a variety of ways that Americans obtain energy that they then consume. The most common ways which we obtain energy are from oil, natural gas and fossil fuels. However, new ways of obtaining energy are emerging, such as solar, wind and water-based methods.</p><br>

      <hr><br>

      <h2 class="teal">Keystone Pipeline</h2><br>

      <p>The Keystone Pipeline is an oil pipeline that delivers oil to oil refineries across the North American continent. It begins in Hardisty, Alberta, Canada and goes all the way down to Houston, Texas and Port Arthur, Louisiana. The pipeline was commissioned in 2010, and was completed in three phases. A fourth phase was proposed, but President Barack Obama rejected the plans because he wants America to push towards more sustainable forms of energy. Opposers to Obama&rsquo;s decision claim that oil already comes to America from Canada via trains and trucks, and that we would rather receive oil from a neighbor than from the less stable Middle East.</p><br>

      <hr><br>

      <h2 class="teal">Hydraulic Fracking</h2><br>

      <p>Hydraulic fracturing, otherwise known as fracking, is the process of extracting oil or natural gas from shale rock. Water, sand and chemicals are injected into the rock at high pressure which fractures the rock and allows the oil or gas to flow out to a well. Fracking has significantly boosted oil production and made more natural gas readily available. However, there are environmental concerns that the process is contaminating groundwater, in addition to concerns due to the amount of water and chemicals necessary to perform a fracking job, and the chemicals that are left in the ground and are not biodegradable.</p><br>

      <hr><br>

      <h2 class="teal">Offshore Drilling</h2><br>

      <p>Offshore drilling is a mechanical process where a wellbore&nbsp;is drilled below the seabed. It is typically carried out in order to explore for and subsequently extract petroleum&nbsp;which lies in rock formations beneath the seabed. Most commonly, the term is used to describe drilling activities on the continental shelf, though the term can also be applied to drilling in lakes, inshore waters and inland seas.</p>
      <p>Offshore drilling presents environmental challenges, both from the produced hydrocarbons and the materials used during the drilling operation.</p>
      <p>In 1990 President George H.W. Bush passed an executive order banning all offshore drilling in U.S. coastal waters. In response to rising gas prices in 2008 President George W. Bush lifted the ban. Currently, there are 3,500 offshore oil rigs, 79 of which are deep water wells.</p><br>
      
      <hr><br>

      <h2 class="teal">Renewable/sustainable energy</h2><br>

      <p>Renewable energy is generally defined as energy that comes from resources that are naturally replenished on a human timescale, such as wind, solar, rain, tides, waves, and geothermal heat. Renewable energy has contributed 19% to our global energy consumption in 2014 and 22% to our electricity generation in 2012 and 2013. Renewable energy methods are turning up in developed countries in addition to more rural areas.</p><br>
      
      <h3 class="teal">Popular forms of renewable energy technologies include:</h3><br>
      
      <ul>
         <li>solar panels</li>
         <li>wind farms</li>
         <li>marine energy</li>
         <li>geothermal systems to heat homes</li>
         <li>and many more.</li>
      </ul><br>

      <p>Renewable energy is supposed to be more sustainable because the energy source will renew itself in a reasonable amount of time so that more of the energy can be used, and less greenhouse gases can be put into the atmosphere. However, renewable energy sources have been criticized because they are supposedly sometimes unreliable depending on the weather and other earthly conditions.</p><br>

      <h3 class="teal">On Wind Energy:</h3><br>

      <p>As of July 2013, nearly 4% of all electricity generated in the U.S. is produced by wind turbines. By installing wind turbines on their properties farmers can earn up to tens of thousands of dollars per year in tax credits. Since 2008 these tax credits have amounted to more than $14 Billion.</p><br>
      
      <hr><br>

      <h2 class="teal">What does this mean to me?</h2><br>

      <ul>
         <li>How much energy do I use on a daily basis?&nbsp;How dependent am I on using this energy? </li>
         <li>What items do I currently own that require energy to use?&nbsp;Do I own a house, a car, a computer, a cell phone? Could I possibly save energy by not owning any of these items, or using any of these items less?</li>
         <li>If there was a way that I could save money by using less energy and/or more sustainable forms of energy, would I be willing to do that?&nbsp;Under what circumstances? What would be required of me in order to do this?</li>
         <li>Where do I want to get my energy from?&nbsp;Do I want my energy to come from local sources or foreign sources via trade? What are the implications of obtaining energy from local or foreign sources?</li>
      </ul><br>

      <hr><br>

      <h2 class="teal">Sources:</h2><br>

      <ul>
         <li><a href="https://www.google.com/url?q=http://www.sharonherald.com/opinion/editorials/obama-drops-ball-on-keystone-pipeline/article_b6a58886-f6b1-5610-9f8e-54553c3b5260.html&amp;sa=D&amp;usg=AFQjCNHSiSEQY2qW0u7h-z5uHl5gluJ3AQ">Sharon Herald - Obama On Keystone Pipeline</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Keystone_Pipeline&amp;sa=D&amp;usg=AFQjCNHqNnjdz8SX8Rvhi1F1pbmXL9DaKA">Wikipedia - Keystone Pipeline</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://keystone-xl.com/&amp;sa=D&amp;usg=AFQjCNECg6DOtbemyJAjROSX_wqsb0zcyg">Keystone XL</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://www.dangersoffracking.com/&amp;sa=D&amp;usg=AFQjCNG14zLj7wQo9yI5ASZcGcN_O4EmWQ">Dangers Of Fracking</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Offshore_drilling&amp;sa=D&amp;usg=AFQjCNHGay4H8r1lYcD9PefHgq2l-H3C9g">Wikipedia - Offshore Drilling</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/United_States_offshore_drilling_debate&amp;sa=D&amp;usg=AFQjCNHV498_y_IcUuu_wBxUl8Gybe1wgA">Wikipedia - Offshore Drilling Debate</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/United_States_offshore_drilling_debate&amp;sa=D&amp;usg=AFQjCNHV498_y_IcUuu_wBxUl8Gybe1wgA">Wikipedia - Renewable Energy</a></li>
      </ul><br>

   </body>
</html>