<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>

      <h1 class="teal">Environment</h1><br>

      <hr><br>

      <h2 class="teal">Description: </h2><br>

      <p>How are we utilizing our natural resources? How much should we protect our environment?</p><br>

      <hr>

      <h2 class="teal">Climate Change</h2><br>

      <p>Global warming, or climate change, is an increase in the earth&#39;s atmospheric temperature since the late nineteenth century. In politics the debate over global warming is centered on whether this increase in temperature is due to greenhouse gas emissions or is the result of a natural pattern in the earth&#39;s temperature. </p>
      <p>There is debate about how much the government should get involved in influencing the public about climate change. There have been proposals for tax breaks and other economic benefits to people and corporations who &ldquo;go green.&rdquo; Proponents to government intervention advocate that we will not be able to reverse the effects of climate change without giving the public very powerful incentives to change their lifestyles. However, some believe that we should let nature and the economy run their course without government intervention. </p><br>

      <hr><br>

      <h2 class="teal">What effect will climate change have on the area that I live in?</h2><br>

      <p>The effects of climate change are vast, depending on where you live.</p><br>

      <hr><br>

      <h2 class="teal">Northeast</h2><br>

      <p>More frequent heat waves and heavy precipitation events are expected to increasingly threaten human health and strain aging infrastructure. Farms and fisheries will likely experience reduced yields, potentially damaging livelihoods and the regional economy.</p><br>

      <h2 class="teal">Southeast</h2><br>

      <p>Places near the ocean in the southeast will likely experience raising sea levels, increased intensity of hurricanes, and a higher frequency of severe weather. Higher temperatures will likely affect the health of forest and the livelihood of crops in the region, causing shortages of food and other goods.</p><br>
      
      <h2 class="teal">Midwest</h2><br>

      <p>The Midwest will likely experience hotter summers with longer dry periods and milder, wetter winters. Climate change will likely place additional stress on infrastructure and the economy.</p><br>

      <h2 class="teal">Great Plains</h2><br>

      <p>The middle of the country will likely experience more droughts caused by a stress on the Ogallala aquifer, the region&rsquo;s primary water supply. These droughts will cause further strain on natural habitats and agriculture in the region.</p><br>

      <h2 class="teal">Southwest</h2><br>

      <p>Climate change poses serious threats to this region&rsquo;s indigenous people, agriculture and ecosystems. More severe droughts will cause more competition for water usage, which is already a large problem in this area.</p><br>

      <h2 class="teal">Northwest</h2><br>

      <p>Forests, agriculture and wildlife such as salmon are more likely to be threatened by changes in river currents, higher temperatures and an increase of pollution in the water. Sea level rise will increase erosion on the coast, causing damage to the infrastructure, ecosystems and beaches.</p><br>
     
      <h2 class="teal">Alaska</h2><br>
      
      <p>Over the past 60 years, Alaska has warmed twice as fast as the rest of the United States. Climate change threatens the livelihoods and villages of Alaska Natives.</p><br>

      <h2 class="teal">Tropical Islands</h2><br>

      <p>Sea level rise could threaten the freshwater supplies, ecosystems, and infrastructure of U.S. tropical islands. Coral reefs, which have already been harmed by pollution, are likely to be further stressed as the ocean warms and becomes more acidic.</p><br>

      <hr><br>
      
      <h2 class="teal">Protection of National Parks</h2><br>
      
      <p>The U.S. currently has 59 areas of land in 27 different states that are designated as National Parks by the federal government. The National Park Service Organic Act was signed into law in 1916 &quot;to conserve the scenery and the natural and historic objects and wild life therein and to provide for the enjoyment of the same in such manner and by such means as will leave them unimpaired for the enjoyment of future generations.&quot; 95% of the American population believes that we should continue to protect national parks.</p><br>
      
      <hr><br>

      <h2 class="teal">GMOs</h2><br>

      <p>Genetically modified organisms (GMOs) are foods whose genetics have been changed or altered for the intended purpose of being healthier or more efficient as a food source. Advocates for the usage of GMOs in foods advocate that some GMOs are richer in minerals and vitamins, don&rsquo;t spoil as quickly, or are being bigger in size than their non-GMO counterparts. However, opposers to the use of GMOs advocate that they have environmental risks and doubt their safety and health benefits.</p><br>
      
      <p>Currently, GMO (Genetically Modified Organism) foods in the United States are not classified differently by the FDA and do not require labeling. Although no reports of ill effects from GMO foods have been documented, advocacy groups such as Greenpeace and the Organic Consumers Association argue that past studies cannot be trusted because they were sponsored by pro-GMO companies and do not measure the long-term effects on humans, the environment, and nature. Opponents argue that labeling adds an unfounded stigma over organic foods and that if a nutritional or allergenic difference were found, current FDA regulations would already require a label.</p><br>
      
      <hr><br>

      <h2 class="teal">What does this mean to me?</h2><br>

      <ul>
         <li>Do I care about having consistent and predictable weather where I live?&nbsp;If so, is there a way that I can ensure that this is the case? </li>
         <li>Do I care about my children, grandchildren, or others of future generations having a healthy world to live in?&nbsp;If so, how can I ensure that our world continues to stay clean and safe for them? If not, why not?</li>
         <li>Do I like to engage in any outdoor activities?&nbsp;If so, which ones? How would these activities be affected if forest fires, drought, floods, hurricanes, tornadoes, or any other natural disasters occurred in my area?</li>
         <li>What kinds of food do I like to eat?&nbsp;How does the food that I buy affect the environment? </li>
         <li>Why do I purchase the kinds of food I purchase?&nbsp;Because it&rsquo;s healthy? Cheap? Convenient? Eco-friendly?</li>
         <li>How can I live in a way that I harm the Earth minimally?&nbsp;Is there recycling in my area? Can I turn off the lights in a room that I am not in? Can I buy local food that does not require shipping long distances? Can I buy organic food that is produced in an environmentally friendly way? Can I compost my compostable items so that they can biodegrade faster than they would in a landfill? Can I walk, bike or bus to work sometimes instead of taking my car? Can I carpool with a friend?</li>
      </ul><br>

      <hr><br>


      <h2 class="teal">Sources:</h2><br>

      <ul>
         <li><a href="https://www.google.com/url?q=http://www.isidewith.com/elections/2016-presidential-quiz&amp;sa=D&amp;usg=AFQjCNEROUngC81XoL5qSyWhmtfguy4cWQ">I Side With - Environment</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://climatekids.nasa.gov/fossil-fuels-coal/&amp;sa=D&amp;usg=AFQjCNEy3NO0tBpUfzQB-A_1FeffRWJ5GQ">Climate Kids Nasa - Fossil Fuels - Coal</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://www3.epa.gov/climatechange/&amp;sa=D&amp;usg=AFQjCNFXWPJiSrSUww5BuC-KrQWay7RfOQ">EPA - Climate Change</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://www.youtube.com/watch?v%3DMEX2J_sAdGs&amp;sa=D&amp;usg=AFQjCNG3_DFTM-hj2GoxYP_kD0utX4uuZA">Youtube Video</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://www.nps.gov/history/preservation.htm&amp;sa=D&amp;usg=AFQjCNGL_XN86-X9xSzmGPOWZnk4171n5w">National Park Service - Preservation</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://www.who.int/foodsafety/areas_work/food-technology/faq-genetically-modified-food/en/&amp;sa=D&amp;usg=AFQjCNHJUtvi7uh1dw4scaZrM84S71eFWg">World Health Organization - GMOs</a>&nbsp;</li>
      </ul><br>

   </body>
</html>