<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>
      
      <h1 class="teal">Families &amp; Children</h1><br>
      
      <hr><br>
      
      <h2 class="teal">Description:</h2><br>

      <p>What is a family? What family values do people have? How are children being raised?</p><br>
      
      <hr><br>
      
      <h2 class="teal">What is a family?</h2><br>

      <p>In the context of <a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Human&amp;sa=D&amp;usg=AFQjCNF_3swzJ13G8jfRiwBQ5qhXuQrw7A">human</a>&nbsp;<a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Society&amp;sa=D&amp;usg=AFQjCNGHaqLt0LyboxWxNmQPR6H9Kr_ioA">society</a>, a family&nbsp;is a <a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Social_group&amp;sa=D&amp;usg=AFQjCNFeZONVFoSC6U5H8hQ61L03Z-0byg">group</a>&nbsp;of <a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/People&amp;sa=D&amp;usg=AFQjCNEL4IHOS8h0ZdKaUEevWYuk8x06ig">people</a>&nbsp;affiliated by recognized birth, marriage, or co-residence. Members of the immediate family includes spouses, parents, brothers, sisters, sons and/or daughters. Members of the extended family may include grandparents, aunts, uncles, cousins, nephews, nieces and/or <a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Sibling-in-law&amp;sa=D&amp;usg=AFQjCNHEomvhf3qxVWx48AlWOGuZgOjGVQ">siblings-in-law</a>. In most societies, the family is the principal institution for the <a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Socialization&amp;sa=D&amp;usg=AFQjCNF-EiK-YcqtRJwzI-tMyM1y5ZkoOg">socialization</a>&nbsp;of children.</p>
      <p>In America, families could have a number of combinations of members. There might be one mother, one father, one of each, two of each, or gender non-conforming parents. Children could be related by blood, foster children, or adopted. Sometimes even extended family members, such as aunts, uncles, grandparents, or even parent&rsquo;s friends. </p><br>
      
      <hr><br>
      
      <h2 class="teal">Same Sex Marriage</h2><br>

      <p>On June 26, 2015, same sex marriage, otherwise known as gay marriage, was ruled legal in the United States via the Obergefell vs. Hodges court case. This ruling was preceded by decades, even centuries of fighting for the right for same sex couples to marry. This decision is not the end, though, because same sex couples and otherwise not heterosexual couples still face discrimination on a systemic and societal level every day. Nonetheless, at least now it is unconstitutional for them to not receive the same benefits that different sex couples receive when they are married. Same sex couples are raising children more than ever now, through the help of adoption, sperm and egg donations and surrogates.</p><br>
      
      <hr><br>
      
      <h2 class="teal">Adoption</h2><br>

      <p>Adoption is the process of taking in a child that is not biologically related to you and raising them as your own. There are many different ways to adopt: internationally, domestically, or through the foster care system. When thinking about adopting a child, it&rsquo;s important to think about what kind of child you have in mind (age, gender, race, ethnicity, special needs, etc.), and think about what resources would be available to children that live in your area, and how a child with any combination of these characteristics would fit into your home. Before a child is adopted, many steps must be taken to ensure that your home is fit to adopt them, that you will be a fit parent, and that you can afford to raise the child in an effective way.</p>
      
      <hr><br>
      
      <h2 class="teal">Family Leave</h2><br>

      <p>Family leave is defined as an excused absence from work for the purpose of dealing with family matters, especially the birth or adoption of a child or to care for a sick parent or spouse. This term could also be more specified to mean maternity leave, paternity leave, or adoption leave. The United States and Papa New Guinea are the only two countries in the world that do not mandate that family leave from a work setting be paid.</p>
      
      <p>Currently, the United States only mandates that new parents receive 12 weeks away from work and have their job be guaranteed to them when they get back, and this time is not necessarily paid. Parents in other countries around the world can have up to over a year of paid leave when they have a child.</p>
      
      <p>Proponents of the idea that family leave should be longer and paid advocate that families are healthier and develop a stronger bond when parents can spend significant time with their children, especially at an extremely young age. They also advocate that if parents are to have this opportunity, they need financial help if they are not going to be working during that time. Opposers say that this kind of paid leave would increase taxes on those who do not have children, and that guaranteeing a job to someone that long during their absence can cause instability in a company setting. </p><br>

      <hr><br>
      
      <h2 class="teal">What does this mean to me?</h2><br>

      <ul>
         <li>Who is in your family?</li>
         <li>Do you know any couples who were affected by the same sex marriage legalization decision? </li>
         <li>Would you ever consider adopting a child? </li>
         <li>If you are considering adopting or having a child, would you want to have a stable period of time to spend with them while they are very young and new to your family?</li>
      </ul><br>

      <hr><br>
      
      <h2 class="teal">Sources:</h2><br>

      <ul>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Family&amp;sa=D&amp;usg=AFQjCNEmKBjRZBjTLHaybZVVy0HHYTXKUw">Wikipedia - Family</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Same-sex_marriage_in_the_United_States&amp;sa=D&amp;usg=AFQjCNF9x3HDay5rbqqQTYVN8eh_vL9nzA">Wikipedia - Same Sex Marriage in the US</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://adoption.com/how-to-adopt-a-child-guide&amp;sa=D&amp;usg=AFQjCNFQbiCFadb-CrUAUrI8aEietCrY8Q">Adoption - How to adopt a child</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Parental_leave%23Paid_Family_Leave_in_the_United_States&amp;sa=D&amp;usg=AFQjCNGH9KlIWNfNEJLjp7Bx51Jy7eeDpA">Wikipedia - Parental Leave in the US</a>&nbsp;</li>
      </ul><br>
      
   </body>
</html>