<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>
      
      <h1 class="teal">How should America interact with the rest of the world?</h1><br>

      <hr><br>
      
      <h2 class="teal">Middle East</h2><br>

      <p>The United States has had a rocky and inconsistent relationship with many countries in the Middle East over the last century. Many of these conflicts have been due to oil trades, overthrowing dictators, and religious unrest.</p><br>

      <hr><br>
      
      <h2 class="teal">Syria&rsquo;s War</h2><br>

      <p>One important issue happening right now is the war in Syria. The war began in 2011 when the first shots were fired at an Arab Spring protest, and things have only gotten muddier ever since. Watch the following video to learn more.</p><br>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NKb9GVU8bHE" frameborder="0" allowfullscreen></iframe>   <br>   
    
      <hr><br>
      
      <h2 class="teal">ISIS</h2><br>

      <p>A main participant in the war has been the Islamic State of Iraq and Syria, otherwise known as ISIS. Watch the next video to learn the history of this group.</p><br>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/HJ034SvB16E" frameborder="0" allowfullscreen></iframe> <br>     

      <p class="teal">Should the U.S. officially declare war on ISIS?</p><br>

      <p>Senator Rand Paul, a republican from Kentucky, recently proposed declaring war against the Islamic State of Iraq and Syria (ISIS). The declaration would give the President more authority to carry out broader attacks on the militant group without Congressional approval. Opponents argue that the order would give the President too much power by eliminating Congressional oversight. Proponents argue that fighting an organization like ISIS requires an unconventional war plan that requires the President to make quick decisions without Congressional oversight.</p><br>
      
      <p class="teal">If so, should the U.S. send groups troops to fight ISIS?</p><br>

      <p>After the November 13th attacks in Paris several Presidential candidates gave new positions on how the U.S. should combat ISIS in Syria. The U.S. is currently involved in a coalition of 19 countries that has launched 8,000 airstrikes against ISIS. None of the countries currently have ground troops in Syria.</p><br>
      
      <hr><br>
      
      <h2 class="teal">Russia </h2><br>

      <p>As mentioned in the first video, Russia has also been heavily involved in the conflict. In late September 2015, the Russian army conducted its first airstrikes in Syria and claimed they were intended to target ISIS positions within the country. U.S. military leaders and the Obama administration immediately warned that Russia is a close ally of Syrian President Bashar al-Assad and that the Russians will eventually turn their airstrikes against Syrian rebels who were recently supported by the U.S. Opponents of any further intervention in Syria argue that U.S. efforts to train rebels have failed miserably and we should stay out any further conflict in the region.</p><br>

      <hr><br>
      
      <h2 class="teal">Syrian Refugees</h2><br>

      <p>In the midst of the war, many refugees from Syria are looking to escape the endless violence that the war has caused them to experience on a daily basis. President Obama recently declared that the U.S. will accept 10,000 refugees from Syria. The U.S. has been under pressure from its Syrian allies to help out with the crisis in which 3 million refugees have fled Syria in the past year. Those in favor of accepting refugees believe that the U.S. has a duty to join its allies in Europe and accept at least 10,000 refugees, if not more. Proponents also advocate that the vast majority of refugees seeking safety are innocent families and want nothing to do with terrorism. Opponents argue that the U.S. should stay out of this crisis and accepting refugees from the Middle East leads to a risk of letting terrorists into our borders. Opposers also argue that we should take care of the homeless people, especially homeless veterans, before we try to take care of foreigners who need help. However, proponents to taking in refugees argue that we should absolutely help our own homeless people, but we should help them not in comparison to the refugee issue. In other words, according to proponents, they are separate issues that should be talked about in two separate contexts, and human lives should not be compared to each other or matter any more or less than each other.</p><br>

      <hr><br>
      
      <h2 class="teal">Paris Attacks</h2><br>

      <p>On the evening of November 13, 2015, a series of coordinated terrorist attacks&nbsp;occurred in Paris&nbsp;and its northern suburb, Saint-Denis. Three suicide bombers struck near the Stade de France&nbsp;in Saint-Denis, followed by suicide bombings and mass shootings at caf&eacute;s, restaurants and a music venue in Paris.</p>
      <p>The attackers killed 130 people,&nbsp;including 89 at the Bataclan theatre,&nbsp;where they took hostages before engaging in a stand-off with police. There were 368 injuries, 80&ndash;99 of which were serious injuries.&nbsp;Seven of the attackers also died, while authorities continued to search for accomplices. The attacks were the deadliest on France since World War II.&nbsp;</p>
      <p>The Islamic State of Iraq and the Levant&nbsp;(ISIL) claimed responsibility for the attacks, saying it was in retaliation for the French airstrikes on ISIL targets in Syria and Iraq.&nbsp;The President of France, Fran&ccedil;ois Hollande, said the attacks were an act of war by ISIL planned in Syria and organized in Belgium.</p>
      <p>Despite the recent attacks, France has decided to open its doors to refugees from Syria.</p><br>
      
      <hr><br>
      
      <h2 class="teal">Beirut Attacks</h2><br>

      <p>On November 12, 2015, two suicide bombers&nbsp;detonated explosives in Bourj el-Barajneh, a southern suburb of Beirut, Lebanon, that is inhabited mostly by Shia Muslims, killing 37-43 people. The Islamic State of Iraq and the Levant&nbsp;(ISIL) claimed responsibility for the attacks.&nbsp;The bombings were the worst terrorist attack in Beirut since the end of the Lebanese Civil War.</p>
      <p>Around 48 hours after the attack, Internal Security Forces&nbsp;arrested eleven people, mostly Syrians, over the attack. It later announced the arrest of two other Syrian and Lebanese suspects. They were arrested in a Palestinian refugee camp located in Burj al-Barajneh and a flat in the capital&#39;s eastern district of Achrafieh, which had allegedly been used to prepare the explosive belts.</p><br>
      
      <hr><br>
      
      <h2 class="teal">Drones</h2><br>

      <p>Drones are unmanned aerial vehicles deployed by U.S. defense and intelligence agencies to collect data and strike suspected enemy targets. There is controversy about whether the U.S. should be using drones to gain intelligence about oversees affairs and use it to kill terrorists.</p><br>
      
      <hr><br>
      
      <h2 class="teal">What does this all mean to me?</h2><br>

      <p>When we are in the midst of countless events happening on the foreign policy front, some issues might seem to touch close to home, while others might seem like they do not affect the lives of Americans very much. During these times of foreign policy craziness, we encourage you to ask yourself the following questions:</p><br>
      
      <ul>
         <li>If you were a refugee from a war that you wanted nothing to do with, would you want to be able to seek refuge in another country where the war is not directly taking place? If so, how would you expect to be treated once you arrived in that country? Would you expect people to be kind to you and help you, or would you expect to have to fend for yourself?</li>
         <li>If you are living in America, how much would your life be directly affected if refugees from a foreign war are let into the country?&nbsp;If these refugees don&rsquo;t live in the same area as you and are taking jobs in a field you are not in, how much does it really affect you? If these refugees do live in your area, how dangerous are they in reality? Do they pose a threat to you personally, or would you just be afraid of them because they are different from you?</li>
         <li>How much do you care about gas prices?&nbsp;America gets a lot of its oil from the Middle East, and depending on our relationship with those countries, in addition to supply and demand, gas prices could increase or decrease dramatically.</li>
         <li>What would be an ethical way of stopping terrorism? Terrorism is obviously a horrible thing that no one in the world wants to have happen. Should we fight fire with fire and send troops to find and kill these terrorists? Should we drop bombs on them via drones and risk killing innocent civilians as well? Should we stay out of the situation and let the war run its course without helping all the innocent people who need help?</li>
      </ul><br>

      <hr><br>

      <h2 class="teal">More Food for Thought</h2><br>
      <a data-pin-do="embedBoard" data-pin-board-width="800" data-pin-scale-height="700" data-pin-scale-width="115" href="http://www.pinterest.com/informare/foreign-policy/"></a>
      <hr><br>

      <h2 class="teal">Sources</h2><br>

      <ul>
         <li><a href="https://www.google.com/url?q=http://www.isidewith.com/elections/2016-presidential-quiz&amp;sa=D&amp;usg=AFQjCNEROUngC81XoL5qSyWhmtfguy4cWQ">I Side With - Foreign policy</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://www.facebook.com/ezraklein/videos/10153737513773410/&amp;sa=D&amp;usg=AFQjCNE5rL97T0IClKJiYvuiYyTNWFKnbg">Facebook Video</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://www.youtube.com/watch?v%3DNKb9GVU8bHE&amp;sa=D&amp;usg=AFQjCNGXxGqT1niGYvXATK2Buoj6HJg_fA">Youtube Video</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/November_2015_Paris_attacks&amp;sa=D&amp;usg=AFQjCNEnH_7nnBkgQKtY-hrl9jlt_OiwhA">Wikipedia - November 2015 - Paris Attacks</a>&nbsp;</li>
      </ul><br>
   
      <script type="text/javascript">
(function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
}(document));
</script>

   </body>
</html>