<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>

      <h1 class="teal">Who does America trade with? How should we decide who to trade with, and what to trade?</h1><br>
      
      <p>Foreign trade of the United States comprises the international imports and exports of the United States, one of the world&#39;s most significant economic markets. The country is among the top three global importers and exporters.</p>
      <p>The regulation of trade is constitutionally vested in the United States Congress. After the Great Depression, the country emerged as among the most significant global trade policy-makers, and it is now a partner to a number of international trade agreements, including the General Agreement on Tariffs and Trade (GATT) and the International Trade Organization(ITO). Gross U.S. assets held by foreigners were $16.3 trillion as of the end of 2006 (over 100% of GDP).</p><br>

      <hr><br>

      <p><a href="https://www.thedollarbusiness.com/wp-content/uploads/2014/07/14-152.jpg"><img alt="big daddy" src="https://www.thedollarbusiness.com/wp-content/uploads/2014/07/14-152.jpg"></a></p><br>

      <hr><br>

      <h2 class="teal">US Trade Policies Today</h2><br>

      <p>United States&nbsp;trade policy&nbsp;has varied widely through various American historical and industrial periods. As a major developed nation, the U.S. has relied heavily on the import&nbsp;of raw materials&nbsp;and the export&nbsp;of finished goods. Because of the significance for American economy and industry, much weight has been placed on trade policy by elected officials and business leaders.</p>
      <p>Today the United States&#39; largest trading partner is China. China has seen substantial economic growth in the past 50 years and though a nuclear-security summit that took place in early 2010 president Obama hoped to insure another 50 years of growth between the two countries. On April 19, 2010, President Barack Obama met with China&#39;s President Hu Jintao to discuss trade policies between the two countries.</p>
      <p>Though the US trade deficit has been stubborn, and tends to be the largest by dollar volume of any nation, even the most extreme months as measured by percent of GDP there are nations that are far more noteworthy. Case in point, post 2015 Nepal Earthquake, Nepal&#39;s trade gap (in goods &amp; services) was a shocking 33.3% of GDP although heavy remittances considerably offset that number.</p>
      <p>Sometimes the U.S. imposed embargoes on countries that we do not wish to engage in trade with. In December 2014, President Obama ordered the restoration of full democratic relations with Cuba. The order lifted a 54 year old trade embargo and eased restrictions on banking and American&rsquo;s travel to the country. Proponents of relations with Cuba argue that U.S. influence through tourism and trade will promote capitalism and weaken its communist regime. Opponents argue that trade and diplomatic relations will only strengthen the communist regime&rsquo;s grip on the Cuban government.</p>
      <p>Embargoes can put a strain on countries&rsquo; economies. Before the embargo was lifted in Cuba, many people were driving cars that were up to 40 years old, and could not obtain newer goods from the U.S. in order to repair them. They also could not receive many other goods that would have boosted their economy during this time. </p><br>

      <hr><br>

      <h2 class="teal">What does this mean to me?</h2><br>

      <ul>
         <li>What kinds of products do I use regularly?&nbsp;Where do these products come from? Are they being produced ethically?</li>
         <li>How do trade embargoes set by the US affect everyday commodity prices for regular individuals like myself?&nbsp;If the US is such a great advocate of free trade, should it continue to use trade embargoes as a way to threaten other nations for actions it does not necessarily agree with? Are we as a nation being hypocritical?</li>
         <li>What stance do the 2016 candidates have on foreign trade, or do they even have any?&nbsp;Note: it is critical for you as a citizen to be in coherence with the candidates on the issue of trade, as it is what drives the country&rsquo;s GDP in a huge way, and therefore also helps solve the problem of accumulating debt.</li>
         <li>Do citizens of another country deserve to have an economy suffer just because the U.S. has a different government than them?&nbsp;Or is the threat of communism and other types of government so extreme that we should avoid dealing with it?</li>
      </ul><br>

      <hr><br>

      <h2 class="teal">More Food for Thought</h2><br>
      <a data-pin-do="embedBoard" data-pin-board-width="800" data-pin-scale-height="700" data-pin-scale-width="115" href="http://www.pinterest.com/informare/free-trade/"></a>
      <hr><br>

      <h2 class="teal">Additional Useful Links and Sources:</h2><br>

      <ul>
         <li><a href="https://www.google.com/url?q=https://ballotpedia.org/2016_presidential_candidates_on_international_trade&amp;sa=D&amp;usg=AFQjCNFiFaPWlxKFk7GhoEcDj2rx1YQzTw">Click here to learn about the stance of the various 2016 presidential election candidates on the issue of international trade: </a></li>
         <li><a href="https://www.google.com/url?q=http://www.usnews.com/news/articles/2015/04/28/trans-pacific-partnership-becomes-a-2016-election-issue&amp;sa=D&amp;usg=AFQjCNFRA1s-B8eX7G50XcRWBzbnvy255g">Click here to learn about one of the greatest issues being debated related to US - International trade is that of the Trans-Pacific Partnership</a></li>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/United_States_International_Trade_Commission&amp;sa=D&amp;usg=AFQjCNGKTjhE2wkaaHkg-0D7cq_nazyvTQ">USITC (US International Trade Commision):</a></li>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Foreign_trade_of_the_United_States%23Trade_policy&amp;sa=D&amp;usg=AFQjCNFKuQnYQbnl7DYd3HVeu08yrcMKWQ">Learn more about the history of US Trade policies, to understand the issues being discussed by the presidential candidates:</a></li>
      </ul><br>

      <script type="text/javascript">
(function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
}(document));
</script>

   </body>
</html>