<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>
      
      <h1 class="teal">Gun Control</h1><br>

      <hr><br>
      
      <h2 class="teal">Who should have the right to own or operate weapons, and under what circumstances?</h2><br>

      <hr><br>
      
      <h2 class="teal">Gun Rights in America Overview</h2><br>

      <p>During the Revolutionary War in America, many militia around the colonies got together and rallied against Britain. These militia felt that they needed weapons in order to fight the war effectively. Consequently, when the Bill of Rights was drafted, the Second Amendment addresses the militia&rsquo;s desire for the right to bear arms. The Second Amendment of the United States Constitution reads &ldquo;A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed.&rdquo;</p><br>

      <hr><br>
      
      <h2 class="teal">What is the controversy about?</h2><br>

      <p>The controversy nowadays surrounding gun control is about who should have the right to own and operate weapons, how easy it should be to obtain those weapons, and what weapons should be readily accessible, if any.</p><br>
      
      <h3 class="teal">The following chart pretty much sums it up:</h3><br>
      
      <a href="#"></a><a href="#"></a><br>

      <table cellpadding="0" cellspacing="0">
         <tbody>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>Gun rights activists</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>Gun control activists</p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>Guns don&rsquo;t kill people. People kill people.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>One person can sometimes successfully kill one person without a gun. One person can kill dozens of people with a gun.</p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>We need to be able to own guns so that we can protect ourselves from someone who might break into our house or start a mass shooting in public. </p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>No mass shootings, or even private shootings, in the last 30 years have been stopped by an armed civilian. Pulling out a gun in response to an attacker pulling out a gun just makes things worse, especially in a mass shooting scenario.</p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>If guns are outlawed, the &ldquo;good people&rdquo; will obey the law and not buy guns, but the &ldquo;bad people&rdquo; will disobey the law and obtain guns via the black market.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>Almost every other first-world country has much stricter gun laws than the U.S., and their statistics for gun violence are far lower than those in the U.S.</p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>There is almost never enough support for victims of mass shootings, or for people who instigate mass shootings.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>Mental health support is an important issue that should be brought up on its own, and not just in the context of the gun control conversation.</p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>The Second Amendment has protected my right to own guns for over 200 years, and that right shall not be infringed.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>The Second Amendment was written in an entirely different context than what the state of America is today. Americans during that time felt that they needed inaccurate, ineffective guns in order to protect themselves from the British, but no such threat exists on our soil today. Therefore, we should consider updating this Amendment to more accurately reflect today&rsquo;s situation.</p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>I want to own a gun so that I can hunt, not so that I can kill people.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>Hunting in and of itself is a dangerous activity that can unintentionally kill passersby and animals. Killing animals also upsets the balance of the ecosystem, and is incredibly cruel and inhumane to the animals.</p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>It&rsquo;s a tradition in my family to own guns. I promise I would always keep my gun in a safe at home.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>Gun-related deaths among children are becoming all the more common nowadays as parents forget to keep their guns in safes and/or do not teach their children how to use guns properly.</p>
               </td>
            </tr>
         </tbody>
      </table><br>
      
      <hr><br>
      
      <h2 class="teal">Should we increase gun control measures?</h2><br>
      
      <p>The 2012 Sandy Hook Elementary School shootings caused several states and cities to pass strict gun control measures. In response, state lawmakers in gun friendly states in the South and West passed bills that would strengthen Stand Your Ground laws and allow weapons in most public places. In 2014, 21 states passed laws that expanded the rights of gun owners allowing them to possess firearms in churches, bars, schools and college campuses. The federal government has not passed any gun control measures since the 1994 Brady Bill and 42 states now allow the possession of assault rifles. In the U.S. two-thirds of all gun deaths are suicides and in 2010 there were 19,000 firearm suicides and 11,000 firearm homicides.</p><br>
     
      <hr><br>
      
      <h2 class="teal">Should we require criminal and public safety background checks for people purchasing guns?</h2><br>
      
      <p>Universal background checks require individuals to pass a criminal and public safety background check before purchasing a firearm. The background check consists of the firearm retailer calling a toll-free number or website (National Instant Criminal Background Check System or NICS) to check the eligibility of the buyer. The NICS system is a composite of several FBI databases, such as the National Crime Information Center, and runs the buyer&#39;s name through federal and state criminal records. Individuals can also be added to the NICS system on the recommendation of psychiatrists, mental health institutions and family members. Under the current NICS system, buyers may be denied the purchase of a firearm for reasons such as being indicted or convicted of a felony, admitting to being addicted to a controlled substance, having been dishonorably discharged from the Armed Forces, being subject to a restraining order, as well as other regulations. Currently, around 2% of gun background checks are denied.</p><br>
      
      <hr><br>
      
      <h2 class="teal">355 mass shootings this year</h2><br>

      <p>There have been over 355 mass shootings as of December of 2015 alone. These shootings include the San Bernardino shooting of an institution that aids people with disabilities, and the Planned Parenthood shooting in Colorado. </p><br>

      <a href="https://randomnerds.com/wp-content/uploads/2015/10/MassShootingsCalendar.png"><img src="http://randomnerds.com/wp-content/uploads/2015/10/MassShootingsCalendar.png"></a>
      
      <a href="https://pbs.twimg.com/media/CVP9pvJUAAAujfW.jpg:large"><img src="https://pbs.twimg.com/media/CVP9pvJUAAAujfW.jpg:large"></a>
      
      <hr><br>
      
      <h2 class="teal">What does this mean to me?</h2><br>

      <p>With all the talk about gun violence and gun control controversy, it can be difficult to figure out what one&rsquo;s own views are. Here are some questions you should ask yourself:</p><br>
      
      <ul>
         <li>Under what circumstances do I feel safe?&nbsp;Do I feel safe when I can protect myself from potential enemies, or do I feel more safe when it is less likely that my enemies would be able to obtain the guns required to hurt me from a distance in the first place?</li>
         <li>If you are potentially interested in owning a gun, why do you want to own one?&nbsp;Do you want to own a gun so that you can protect yourself from people? To hunt? To kill people who walk onto your property?</li>
         <li>If citizens can own guns, should they be allowed to carry them in public?&nbsp;Certain states have open carry laws, where people can just bring their guns with them almost wherever they want. Other states prohibit this for safety reasons.</li>
         <li>If citizens can own guns, would I trust someone who owns a gun and has not gone through a background check?&nbsp;Many states do not require background checks, and someone can just walk into a gun store and purchase a gun or ammunition whenever they want.</li>
         <li>Do I trust the intentions of someone who owns a gun?</li>
         <li>Are there any other reasons that someone might want to own a gun besides for reasons that directly or indirectly involve killing people or animals?</li>
         <li>Who is the real root of the problem here?&nbsp;Should we be criticizing citizens who want to own guns for various reasons? Should we blame those who want to prevent others from practicing their Second Amendment right? Should we be attacking the countless gun manufacturing companies that put guns and their ammunition into the product market in the first place? Should we blame no one and accept the status quo of hundreds of mass shootings occurring in America per year? </li>
      </ul><br>

      <hr><br>
      
      <h2 class="teal">Sources:</h2><br>

      <ul>
         <li><a href="https://www.google.com/url?q=http://www.isidewith.com/elections/2016-presidential-quiz&amp;sa=D&amp;usg=AFQjCNEROUngC81XoL5qSyWhmtfguy4cWQ">I Side With - Gun Control</a></li>
         <li><a href="https://www.google.com/url?q=http://www.archives.gov/exhibits/charters/bill_of_rights_transcript.html&amp;sa=D&amp;usg=AFQjCNEnOgHfbWIsGOteb12VngVuf290Fw">Archives Gov - Bill of Rights</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://www.rollingstone.com/politics/news/4-pro-gun-arguments-were-sick-of-hearing-20151001?page%3D2&amp;sa=D&amp;usg=AFQjCNE-7rCdKAlOeNgDCem2p-pn8U-5ew">Rolling Stone - Pro gun arguments people are sick of hearing</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/2015_San_Bernardino_shooting&amp;sa=D&amp;usg=AFQjCNFbj4ctxvDk2N3tFApuGqCX-kZagw">Wikipedia - San Bernardino Shooting</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=https://www.washingtonpost.com/news/wonk/wp/2015/12/02/the-san-bernardino-mass-shooting-is-the-second-today-and-the-355th-this-year/&amp;sa=D&amp;usg=AFQjCNGj7bFfIJSmw-cc08LktqFw4i5O_g">Washington Post - San Bernardino Shooting</a>&nbsp;</li>
      </ul><br>
      
   </body>
</html>