<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>
      
      <h1 class="teal">How can our government best help us take care of our health?</h1><br>

      <hr><br>
      
      <h2 class="teal">Patient Protection and Affordable Care Act (Obamacare)</h2><br>
      
      <p>The Affordable Care Act is a federal statute signed into law in 2010 that introduces a sweeping overhaul of the nation&#39;s healthcare system. The act grants the federal government significant regulatory powers and price controls over U.S. medical service providers and insurance companies.</p><br>
      
      <p class="teal">Watch the following videos to learn more.</p><br>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JZkk6ueZt-U" frameborder="0" allowfullscreen></iframe><br><br>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/vju70I6qSKk" frameborder="0" allowfullscreen></iframe><br><br>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/wFUk1DX3gtA" frameborder="0" allowfullscreen></iframe><br>    
      
      <hr><br>
      
      <h2 class="teal">Vaccinations</h2><br>
      
      <p>Vaccines are medications, usually in the form of shots, that can be taken by a patient in order to prevent diseases. Some of the most common vaccinations are ones for the flu, measles, mumps, polio, human papilloma virus (HPV), chickenpox, shingles, tuberculosis, whooping cough, and meningococcal. </p><br>
      
      <p class="teal">Arguments for and against the use of vaccines are summarized below.</p><br>
      
      <a href="#"></a><a href="#"></a>
      <table cellpadding="0" cellspacing="0">
         <tbody>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>Vaccines are good.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>Vaccines are bad.</p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>Vaccines can save children&#39;s lives.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>Vaccines can cause serious and sometimes fatal side effects. </p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>The ingredients in vaccines are safe in the amounts used.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>Vaccines contain harmful ingredients.</p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>Major medical organizations state that vaccines are safe.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>The government should not intervene in personal medical choices.</p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>Adverse reactions to vaccines are extremely rare.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>Mandatory vaccines infringe upon constitutionally protected religious freedoms.</p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>Vaccines protect the &quot;herd.&quot;</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>Vaccines can contain ingredients some people consider immoral or otherwise objectionable. </p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>Vaccines save children and their parents time and money.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>Vaccines are unnatural, and natural immunity is more effective than vaccination.</p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>Vaccines protect future generations.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>The pharmaceutical companies, FDA, and CDC should not be trusted to make and regulate safe vaccines. </p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>Vaccines eradicated smallpox and have nearly eradicated other diseases such as polio.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>Diseases that vaccines target have essentially disappeared. </p>
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>Vaccine-preventable diseases have not disappeared so vaccination is still necessary.</p>
               </td>
               <td colspan="1" rowspan="1">
                  <p>Most diseases that vaccines target are relatively harmless in many cases, thus making vaccines unnecessary.</p>
                  
               </td>
            </tr>
            <tr>
               <td colspan="1" rowspan="1">
                  <p>Vaccines provide economic benefits for society. </p>
               </td>
               <td colspan="1" rowspan="1">
                  
               </td>
            </tr>
         </tbody>
      </table><br>
      
      <hr><br>
      
      <h2 class="teal">Should vaccines be required?</h2><br>
     
      <p>Some people do not want to get vaccinated for some of these diseases because it is against their religion, or they worry about the side effects of the vaccine. However, advocates for vaccines say that vaccines are essential in order to keep diseases eradicated, and if some do not get vaccinated, they could catch the disease and therefore spread it.</p>
      <p>In January 2014, 102 measles cases linked to an outbreak at Disneyland were reported in 14 states. The outbreak alarmed the Center for Disease Control, which declared the disease eliminated in the U.S. in the year 2000. Many health officials have tied the outbreak to the rising number of unvaccinated children under the age of 12. Proponents of a mandate argue that vaccines are necessary in order to insure herd immunity against preventable diseases. Herd immunity protects people who are unable to get vaccines due to their age or health condition. Opponents of a mandate believe the government should not be able to decide which vaccines their children should receive. Some opponents also believe there is a link between vaccinations and autism and vaccinating their children will have destructive consequences on their early childhood development. </p><br>
      
      <hr><br>
      
      <h2 class="teal">Medicare and Medicaid</h2><br>
      
      <p>Medicare&nbsp;is a federal program that provides health coverage if you are 65 or older or have a severe disability, no matter your income. Medicaid is a state and federal program that provides health coverage if you have a very low income.</p><br>
      
      <p><a href="https://www.google.com/url?q=https://www.youtube.com/watch?v%3D13vpRmzKuDk&amp;sa=D&amp;usg=AFQjCNH_wCJwJ9jdAoLyNN_TWA_HHzlUHA">https://www.youtube.com/watch?v=13vpRmzKuDk</a>&nbsp;</p><br>
      
      <hr><br>
      
      <h2 class="teal">What does this mean to me?</h2><br>
      
      <p>If you are trying to figure out what kind of health care system you feel that we should have in our country, try asking yourself the following questions:</p><br>
      
      <ul>
         <li>What kind of health care needs do I have?&nbsp;Do I have any pre-existing conditions that I would want to make sure are covered by most health plans, or my health plan at the very least? Do I deserve to be charged more for a condition that I was born with or otherwise did not ask to have?</li>
         <li>What kind of health care needs does my family or loved ones have?&nbsp;Health care plans often involve the whole family, so you should make sure to take your loved ones into account when figuring out which health care plan is for you.</li>
         <li>Am I able to afford health services on my own?&nbsp;Most people are not, which is why they rely on helpful health insurance in order to not pay for these kinds of uncontrollable costs out of pocket.</li>
         <li>Do I have a job that offers me reliable health insurance now?&nbsp;If not, how easy is it for me to obtain reliable health insurance via the health insurance marketplace that the Affordable Care Act has to offer? </li>
         <li>What kind of health coverage will I want in the future?&nbsp;Health care becomes more and more important as we get older and qualify for Medicare.</li>
      </ul><br>
      
      <hr><br>

      <h2 class="teal">More Food for Thought</h2><br>
      <a data-pin-do="embedBoard" data-pin-board-width="800" data-pin-scale-height="700" data-pin-scale-width="115" href="http://www.pinterest.com/informare/health-care/"></a>
      <hr><br>

      <h2 class="teal">Sources</h2><br>
      
      <ul>
         <li><a href="https://www.google.com/url?q=http://www.isidewith.com/elections/2016-presidential-quiz&amp;sa=D&amp;usg=AFQjCNEROUngC81XoL5qSyWhmtfguy4cWQ">I Side With - Health Care</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://obamacarefacts.com/obamacare-facts/&amp;sa=D&amp;usg=AFQjCNGovRuQ3Saf5HTekyx2Da7WHzWk-g">Obama Care Facts</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://www.vaccines.gov/&amp;sa=D&amp;usg=AFQjCNHhxM4DqvoUVkLXok354e_8wj-3DA">Vaccines Gov</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://vaccines.procon.org/&amp;sa=D&amp;usg=AFQjCNGYgyjEV9D05DnyGcNEQKcylQFu0A">Proton Vaccines</a>&nbsp;</li>
         <li><a href="https://www.google.com/url?q=http://www.medicareinteractive.org/page2.php?topic%3Dcounselor%26page%3Dscript%26script_id%3D1670&amp;sa=D&amp;usg=AFQjCNHNEOcO457Z1UYVUWlwlqw0opfNSQ">Medicare Initiative</a>&nbsp;</li>
      </ul><br>

      <script type="text/javascript">
(function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
}(document));
</script>

   </body>
</html>