<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>
      
      <h1 class="teal">How can we keep our people safe?</h1><br>
      
      <p>Being one of the most powerful nations in the world, Homeland Security is clearly one of the top priorities for the United States of America.</p><br>
      
      <p>In the United States, the concept of &quot;Homeland Security&quot; extends and recombines responsibilities of government agencies and entities. According to Homeland security research, the U.S. federal Homeland Security and Homeland Defense&nbsp;includes 187 federal agencies and departments, including the United States National Guard, the Federal Emergency Management Agency, the United States Coast Guard, U.S. Customs and Border Protection, U.S. Immigration and Customs Enforcement, United States Citizenship and Immigration Services, the United States Secret Service, the Transportation Security Administration, the 14 agencies that constitute the U.S. intelligence community and Civil Air Patrol. Although many businesses now operate in the area of homeland security, it is overwhelmingly a government function.</p><br>
      
      <h3 class="teal">The scope of homeland security includes:</h3><br>
      
      <ul>
         <li>Emergency preparedness and response (for both terrorism and natural disasters), including volunteer medical, police, emergency management, and fire personnel;</li>
         <li>Domestic and International intelligence activities, largely today within the FBI;</li>
         <li>Critical infrastructure and perimeter protection;</li>
         <li>Investigation of people making and distributing child pornography;</li>
         <li>Border security, including both land, maritime and country borders;</li>
         <li>Transportation security, including aviation and maritime transportation;</li>
         <li>Biodefense;</li>
         <li>Detection of radioactive and radiological materials;</li>
         <li>Research on next-generation security technologies.</li>
      </ul><br>
      
      <p>This is how we keep the people of the Unites States of America Safe.&nbsp;</p><br>
      
      <hr><br>
      
      <h2 class="teal">Why does national security matter more than ever in the 2016 elections?</h2><br>
      
      <p>Today the threat of Islamist extremism and other forms of evil seeking the destruction of Western civilization calls for a strong leader who espouses the qualities of President Reagan and President Kennedy, and Prime Minister Winston Churchill. &nbsp;These men stood up to the great challenges of their times whether it be communism or fascism; and won.</p>
      
      <p>America&rsquo;s national security and foreign policy have never been more paramount in a presidential election as they are in the upcoming elections. &nbsp;A President&rsquo;s greatest responsibility and highest Constitutional priority must be to provide for a &ldquo;common defense&rdquo; as Commander in Chief. &nbsp;As the Chairman of the House Homeland Security Committee, I know firsthand that the threat landscape we face is the most dangerous in my lifetime. </p>
      <p>President Obama and Hillary Clinton&rsquo;s handling of the Arab Spring have been in question for longer than expected. &nbsp;The failure to achieve a Status of Forces Agreement in Iraq has helped lead to the creation of ISIS.</p>
      <p>Today, Islamist extremism has spread like a wildfire and metastasized throughout North Africa, the Middle East and as far away as East Asia. As a consequence, the radical Islamist ideology is only spreading.</p>
      <p>As this threat grows overseas, so too does the threat to the United States homeland. &nbsp;The number of foreign fighters, including Americans, traveling to Syria, Iraq and Libya has grown exponentially. &nbsp;Over the past year there have more U.S. based jihadist terror cases than in any year since 9/11. &nbsp;</p>
      <p>Gone are the days of Osama bin Laden&rsquo;s caves and couriers. &nbsp;Today we must contend with a new generation of terrorists who exploit social media to send directives to their followers in the United States. &nbsp;Moving at the speed of broadband, more than 200,000 ISIS related tweets are generated each day, including instructions to kill Americans. &nbsp;</p>
      <p>Fortunately, we have stopped numerous plots and arrested over 60 ISIS followers in the United States &ndash; more than one each week. &nbsp;But as we tragically saw in Chattanooga, with the killing of four Marines and one sailor, the terrorists only have to be successful once. </p>
      <p>Meanwhile, the administration has reached a questionable agreement with Iran, which appears to put Tehran on the path to a nuclear bomb, rather than dismantle its nuclear program. Such a policy realizes the great fear of a nuclear arms race in the Middle East.</p>
      <p>The deal with Iran also elevates the dangerous relationship between Iran and Russia. It was recently revealed that the Iranian General and leader of the Quds Force Qassem Suleiman, had defied a U.N. Security Council resolution by travelling to Moscow and meeting with Russian leaders. Suleiman is a terrorist who is responsible for the deaths of hundreds of American soldiers and only 10 days after the announcement of this reckless deal, he was defying international sanctions.</p>
      <p>The Iran-Russia relationship threatens not only the stability of the region, but that of the entire world. Along with China, many of these nations seem to be defying international law. This threatens our economy, our critical infrastructure and our military systems. And must not be ignored.</p>
      <p>Americans are justified in feeling less safe today than they were before. Each election cycle, the people are told &lsquo;it is the most important election of our lifetime.&rsquo; &nbsp;This time that may be true and these issues I believe are of the utmost importance. &nbsp;</p>
      <p>The next president will inherit a more dangerous world. We need to be asking the right questions to make sure we elect a commander in chief who can change the course of history.</p><br>
      
      <hr><br>

      <h2 class="teal">More Food for Thought</h2><br>
      <a data-pin-do="embedBoard" data-pin-board-width="800" data-pin-scale-height="700" data-pin-scale-width="115" href="http://www.pinterest.com/informare/homeland-security/"></a>
      <hr><br>
      
      <h2 class="teal">Sources</h2><br>
      
      <ul>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Homeland_security&amp;sa=D&amp;usg=AFQjCNFGKhnAY2Ko1BmjiOQHZRAZPeB7XQ">US Homeland Security - Wikipedia</a></li>
         <li><a href="https://www.google.com/url?q=http://www.ontheissues.org/Homeland_Security.htm&amp;sa=D&amp;usg=AFQjCNGwroV_KNeEH2W5K-RxqPRJacLUEg">Homeland Security - On the issues</a></li>
      </ul><br>
      
      <script type="text/javascript">
(function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
}(document));
</script>

   </body>
</html>