<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>
      
      <h1 class="teal">How are you making a living? What opportunities do we and should we have to make a living?</h1><br>
      
      <p>Unemployment in the United States discusses the causes and measures of U.S. unemployment and strategies for reducing it. Job creation and unemployment are affected by factors such as economic conditions, global competition, education, automation, and demographics. These factors can affect the number of workers, the duration of unemployment, and wage levels.</p><br>
      
      <hr><br>
      
      <h2 class="teal">History and where we are today</h2><br>
      
      <p>Employment expanded consistently during the 1990s, but has been inconsistent since due to recessions in 2001 and 2007-2009. By some measures, the number of persons employed regained its 2007 pre-crisis peak only in 2014, but the labor force participation rate remained below its 2007 level.&nbsp;Unemployment generally falls during periods of economic prosperity and rises during recessions, creating significant pressure on public finances as tax revenue falls and social safety net costs increase. The major political parties debate appropriate solutions for improving the job creation rate, with liberals arguing for more government stimulus spending and conservatives arguing for lower taxes and less regulation. Polls indicate that Americans believe job creation is the most important government priority, with not sending jobs overseas the primary solution.</p>
      <p>Much of the 2012 Presidential campaign focused on job creation as a first priority, but the fiscal cliff and other budgetary debates took precedence in 2012 and early 2013. Critics argued prioritizing deficit reduction was misplaced, as there was no immediate fiscal crisis but there was a high level of unemployment, particularly long-term unemployment. Job creation during 2014 was the best since 1999, averaging over 200,000 jobs created per month. There were 10.9 million jobs created over a 57-month period ending November 2014.</p>
      <p>Unemployment can be measured in several ways. A person is unemployed if they are jobless but looking for a job and available for work. People who are neither employed nor unemployed are not in the labor force. For example, as of June 2015, the unemployment rate in the United States was 5.3% or 8.3 million people,&nbsp;while the government&#39;s broader U-6 unemployment rate, which includes the part-time underemployed was 10.5%&nbsp;or 16.5 million people. These figures were calculated with a civilian labor force of approximately 157.0 million people,&nbsp;relative to a U.S. population of approximately 321 million people. The U.S. Bureau of Labor Statistics (BLS) publishes a monthly &quot;Employment Situation Summary&quot; with key statistics and commentary.</p><br>
      
      <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/US_Seasonal_Unemployment.svg/2000px-US_Seasonal_Unemployment.svg.png "><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/US_Seasonal_Unemployment.svg/2000px-US_Seasonal_Unemployment.svg.png "></a>

      <p class="teal">Historical seasonal unemployment rates, showing the variance between the fifty states.</p><br>

      <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/US_Unemployment_measures.svg/720px-US_Unemployment_measures.svg.png"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/US_Unemployment_measures.svg/720px-US_Unemployment_measures.svg.png"></a>
      
      <p class="teal">The rate of U.S. unemployment under various definitions.</p><br>
      
      <p>In 2014, Williams County, North Dakota had the lowest percentage of unemployed people of any county or census area in the United States, at 1.2 percent, while Wade Hampton Census Area, Alaska had the highest, at 23.7 percent.</p><br>
      
      <hr><br>
      
      <h2 class="teal">What does this mean to me?</h2><br>
      
      <ul>
         <li>Is the government really doing anything to solve the problem of unemployment? or is it the people, and their innovations? (Uber, Lyft, other service related applications that create jobs)</li>
         <li>Am I currently employed?&nbsp;If not, why not? How is the economy contributing to me being employed or not?</li>
         <li>What kind of job do I have?&nbsp;Do I like my job? What do I like or dislike about it? If I dislike something about my job, are there ways that I can try to improve the situation?</li>
         <li>Do I want to keep the job that I have for the foreseeable future?&nbsp;Or do I want to eventually get another job? If I want another job, what kind of job would I want? What opportunities do I have in order to obtain that kind of job? Would I be qualified for it?</li>
         <li>Do I want the minimum wage to be higher? Or do I want the unemployment rate to be lower? As surprising as it may seem, the two affect each other significantly.</li>
      </ul><br>
      
      <hr><br>

      <h2 class="teal">More Food for Thought</h2><br>
      <a data-pin-do="embedBoard" data-pin-board-width="800" data-pin-scale-height="700" data-pin-scale-width="115" href="http://www.pinterest.com/informare/jobs/"></a>
      <hr><br>
      
      <h2 class="teal">Sources</h2><br>
      
      <ul>
         <li><a href="https://www.google.com/url?q=http://data.bls.gov/timeseries/LNS14000000&amp;sa=D&amp;usg=AFQjCNEDXQGHVowI_cyMAn1Meu_dylBHrA">Click here to view data from the </a><a href="https://www.google.com/url?q=http://data.bls.gov/timeseries/LNS14000000&amp;sa=D&amp;usg=AFQjCNEDXQGHVowI_cyMAn1Meu_dylBHrA">Bureau of Labor Statistics which provides the official unemployment rate data</a></li>
         <li><a href="https://www.google.com/url?q=http://data.bls.gov/timeseries/LNS14000000&amp;sa=D&amp;usg=AFQjCNEDXQGHVowI_cyMAn1Meu_dylBHrA">Wikipedia - Unemployment in the United States</a></li>
         <li><a href="https://www.google.com/url?q=http://www.ontheissues.org/Jobs.htm&amp;sa=D&amp;usg=AFQjCNEIwEW8MA86rAHitjv40nItX4Z9Iw">What do the various 2016 presidential candidates have to say about unemployment?</a></li>
      </ul><br>
      
      <script type="text/javascript">
(function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
}(document));
</script>

   </body>
</html>