<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>
      
      <h1 class="teal">Social Security</h1><br>
      
      <hr><br>
      
      <h2 class="teal">What is the Social Security Administration and what does it do?</h2><br>
      
      <p>In the United States, Social Security is primarily the Old-Age, Survivors, and Disability Insurance (OASDI) federal program. The original Social Security Act was signed into law by President Franklin Roosevelt in 1935, and the current version of the Act, as amended,&nbsp;encompasses several social welfare and social insurance programs.</p>
      <p>Social Security is funded through payroll taxes called Federal Insurance Contributions Act tax (FICA) or Self Employed Contributions Act Tax (SECA). Tax deposits are collected by the Internal Revenue Service (IRS) and are formally entrusted to the Federal Old-Age and Survivors Insurance Trust Fund, the Federal Disability Insurance Trust Fund, the Federal Hospital Insurance Trust Fund, or the Federal Supplementary Medical Insurance Trust Fund which make up the Social Security Trust Funds. With a few exceptions, all salaried income, up to an amount specifically determined by law (see tax rate table below) has an FICA or SECA tax collected on it. All income over said amount is not taxed, for 2015 the maximum amount of taxable earnings is $118,500.</p>
      <p>With few exceptions, all legal residents working in the United States now have an individual Social Security number. Indeed, nearly all working (and many non-working) residents since Social Security&#39;s 1935 inception have had a Social Security number, because it is required to do a wide range of things including paying the IRS and getting a job.</p>
      <p>A good way to understand the intent with which it was created is to think of Social Security as a collective fund created back in the day for the people of America to benefit from in unforeseen situations/circumstances. While the above description serves as an explanation to the intent, there are often discussions on how the social security often does not serve to help the people, and that is another discussion altogether that we will not cover in this section. </p>
      <p>(Note: Informare is focussed on being an unbiased platform, however, we encourage our users to explore issues on their free time and will to educate themselves better.)</p><br>
      
      <hr><br>
      
      <h2 class="teal">Why has Social Security emerged as a major campaign issue for the 2016 presidential elections?</h2><br>
      
      <p>Social Security, a financial lifeline for millions of elderly Americans, has returned as a major political issue that Democrats could use to embarrass majority Republicans in Congress and put the eventual GOP presidential nominee on the defensive. In short, it is a game of politics that we will do our best to ignore in this section. (Informare aims to provide our audience as unbiased information as humanly possible). </p>
      <p>The reason for Social Security&#39;s sudden prominence is that, because inflation has been so low based on government calculations, there won&#39;t be a cost-of-living increase for Social Security recipients next year. It is only the third time since 1975 that this has happened.</p>
      <p>There is a growing movement, especially among Democrats, to pass legislation that would provide an increase as soon as possible.</p>
      <p>President Barack Obama, many fellow Democrats in Congress and Democratic presidential front-runner Hillary Clinton are urging quick action to provide that boost. They argue that one reason inflation is down is that oil prices are relatively low, but other costs have been increasing for the elderly, such as expenses for food. Also, Medicare premiums are expected to go up for many.</p>
      <p>Sen. Bernie Sanders of Vermont, another Democratic presidential candidate, said it&#39;s unacceptable that Social Security recipients won&#39;t get a cost of living adjustment in their benefits next year. Sanders said the formula that won&#39;t allow a COLA increase is wrong. &quot;When millions of seniors in America are trying to survive on 11, 12, 13 thousand dollars a year [in] Social Security, no, we&#39;re not going to cut benefits, we are going to increase and expand,&quot; Sanders said while campaigning in Iowa.</p>
      <p>Former Gov. Mike Huckabee of Arkansas, a Republican presidential candidate, asked &quot;What will it take for Republicans in Washington to keep their promise to America&#39;s seniors and keep their hands off Social Security and Medicare? Members of Congress and federal employees receive automatic pay raises each year, yet 70 million Americans will NOT receive a Social Security cost-of-living increase next year. How is this right?&quot;</p>
      <p>Other Republicans have been slow to jump on the bandwagon, if they do so at all. Gov. John Kasich of Ohio, a GOP presidential candidate, said in New Hampshire that an audience member would &quot;get over&quot; reductions in Social Security payments if Kasich&#39;s entitlement-overhaul plan were put into effect. Kasich was asked about entitlement reform during a conference and he said, &quot;We can&#39;t balance a budget without entitlement reform,&quot; which he said should include reductions on benefits for future Social Security recipients.</p>
      <p>Many retirees consider their monthly Social Security checks essential to their financial well being. It is precisely what the social security act was designed for. And the elderly vote in large numbers, so they will be a key constituency in the 2016 election. </p>
      <p>The issue of Social security is clearly getting political, as any situation involving large sums of money would be. While each person may have their own opinion on the issue, it is important that we as citizens keep learning, and reminding ourselves the intent with which our founders passed the social security act, and work together towards achieving a state of integrity in the system by taking all the politics out of it.</p><br>
      
      <a href="http://s3.amazonaws.com/content.thirdway.org/publishing/images/files/000/000/179/Third_Way_Infographic_-_Why_Social_Security_Needs_To_Be_Rescued_2013_Web.jpg?1412713542"><img src="http://s3.amazonaws.com/content.thirdway.org/publishing/images/files/000/000/179/Third_Way_Infographic_-_Why_Social_Security_Needs_To_Be_Rescued_2013_Web.jpg?1412713542"></a>

      <hr><br>
      
      <h2 class="teal">What does this mean to me?</h2><br>
      
      <ul>
         <li>How much money am I giving to social security each paycheck?</li>
         <li>Will I ever get the money I gave to social security back?</li>
         <li>Is the social security even doing the job it is supposed to be doing?</li>
         <li>Is the social security administration&rsquo;s collection of funds an excuse to hoard money for alternative purposes such as paying of government debts?</li>
         <li>Which candidate really has a plan to fix the system? Is the social security system in the United States even necessary? Could we as individuals/citizens independently invest the money we are forced to pay to the government to be more productive?</li>
      </ul><br>
      
      <hr><br>
      
      <h2 class="teal">Sources:</h2><br>
      
      <ul>
         <li><a href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Social_Security_(United_States)&amp;sa=D&amp;usg=AFQjCNGDCN7FJMfFXfFSkNFlaKVHs7Vd6w">Wikipedia - Social Security in the US</a></li>
         <li><a href="https://www.google.com/url?q=http://www.usnews.com/news/blogs/ken-walshs-washington/2015/10/21/social-security-emerges-as-campaign-issue&amp;sa=D&amp;usg=AFQjCNGJmCGKl47p5uzzOWVVC9w0snMkZA">US News - Ken Walsh - Social Security as a campaign issue</a></li>
         <li><a href="https://www.google.com/url?q=https://ballotpedia.org/2016_presidential_candidates_on_federal_assistance_programs&amp;sa=D&amp;usg=AFQjCNFZJvGu2G5RwY7lJIwFuxwwDG4thA">Ballotpedia - 2016 Candidates on Federal Assistance Programs</a></li>
         <li><a href="https://www.google.com/url?q=http://www.ontheissues.org/Social_Security.htm&amp;sa=D&amp;usg=AFQjCNHrT-IX3rzYNrjwr_I-JNEBbGhvXw">On The Issues - Social Security</a></li>
      </ul><br>
   </body>
</html>