<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body >
      <h1 class="teal">Tax Reform</h1><br>

      <hr><br>

      <h2 class="teal">How can the government best use our money? How much of our money should end up in the government&rsquo;s hands? </h2><br>

      <p >Tax reform&nbsp;is the process of changing the way public monies&nbsp;are collected or managed by the government. Tax reformers have different goals. Some seek to reduce the level of taxation of all people by the government. Some seek to make the tax system more progressive&nbsp;or less progressive. Others seek to simplify the tax system and make the system more understandable or more accountable.</p><br>
      
      <hr><br>

      <h2 class="teal">A little about the Tax Reform history in the United States:</h2><br>

      <p>There have been many movements in the United States&nbsp;to reform the collection and management of taxes.</p>
      <p>During the late 19th century American economist Henry George&nbsp;started a global movement for tax reform whose aim was the abolition of all forms of taxation other than the Single Tax&nbsp;on land value. The effects of the movement on taxation policy, although diminished can still be seen in many parts of the world including Australia, New Zealand, Hong Kong, Taiwan and Singapore. Efforts to promote this form of tax reform in the United States continue under the aegis of organizations such as The Henry George Foundation of America.</p>
      <p>In 1986, landmark tax reform was passed in the Tax Reform Act of 1986. In the 1990s, reform proposals arose over the double-taxation of corporate income, with a large report in 1992 by the IRS.</p>
      <p>During the Bush&nbsp;administration, the President&#39;s Advisory Panel for Federal Tax Reform&nbsp;recommended the removal of the Alternative Minimum Tax. Several organizations are working for tax reform in the United States&nbsp;including Americans for Tax Reform, Americans For Fair Taxation&nbsp;and Americans Standing for the Simplification of the Estate Tax&nbsp;(ASSET). Various proposals have been put forth for tax simplification in the United States, including the FairTax&nbsp;and various flat tax&nbsp;plans and bipartisan tax reform proposals.</p>
      <p>In 2010, Fareed Zakaria&nbsp;proposed what he described as a &quot;grand bargain&quot; with tax reform for economic adversaries Paul Krugman&nbsp;and Niall Ferguson; an attempt to bridge their political divide with the creation of a simple and indirect Federal Sales Tax. Representative Chaka Fattah&nbsp;of Pennsylvania introduced a bill, H.R. 4646,&nbsp;called the Debt Free America Act that would introduce a 1% financial transaction tax&nbsp;and eliminate federal income tax. He has introduced bills calling for similar tax reform since 2004, but the bills have never made it out of committee.</p>
      <p>President Obama&rsquo;s tax reform proposals are highlighted in his administration&rsquo;s 2013 United States federal budget&nbsp;proposal and in a framework for corporate and international tax reform presented by the administration.&nbsp;While some of these proposals have become irrelevant due to the &ldquo;United States fiscal cliff&rdquo; agreement at the end of calendar year 2012, these policies present a center-left approach to tax reform. In general, the proposals involve some marginal tax rate increases, some marginal tax rate decreases, and base broadening by closing, canceling, or limiting tax loopholes, deductions, credits, or other tax expenditures&nbsp;for top income earners and corporations. Reforming the tax code is reportedly a priority for the 113th Congress.</p><br>

      <hr><br>

      <h2 class="teal">What are some of the issues related to tax reform that candidates are debating about for the 2016 elections?</h2><br>

      <ul >
         <li >The current income tax code is really complicated, and needs to be simplified.</li>
         <li >Large multinationals are looking at moving to other nations for manufacturing (our jobs are being exported), which is bad for the US economy.</li>
         <li >Click <a  href="https://www.google.com/url?q=http://taxfoundation.org/comparing-2016-presidential-tax-reform-proposals&amp;sa=D&amp;usg=AFQjCNGck4yVOUgJJ4JMxtd3BbXUvGFC0g">here</a>&nbsp;to learn about all the other issues related to tax reform that candidates are discussing.</li>
      </ul>

      <hr><br>

      <h2  class="teal">What does this mean to me?</h2><br>

      <ul >
         <li >Do you trust the government with your money?&nbsp;How would you like them to use your money? How would you not like them to use your hard earned money? </li>
         <li >Is the government running efficiently, or is it just increasing taxes for individuals like myself to deal with overspending budgets?</li>
         <li >Is the candidate I am voting for serious about making tax reforms, and simplifying the process for filing taxes? Is there an incentive to make the fix or is there a conflict of interest? Are my best interests, and those of my fellow citizens being prioritized?</li>
      </ul>

      <hr><br>

      <h2  class="teal">Sources:</h2><br>

      <ul >
         <li ><a  href="https://www.google.com/url?q=http://taxfoundation.org/comparing-2016-presidential-tax-reform-proposals&amp;sa=D&amp;usg=AFQjCNGck4yVOUgJJ4JMxtd3BbXUvGFC0g">Tax Foundation Org - 2016 Candidates and their tax reform proposals</a>&nbsp;(The best place to learn more about the issue is to visit the people with authority on the issue.)</li>
      </ul>

   </body>
</html>